@charset "UTF-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 50px;
}

.DAShome {
	height: 1000px;
	width: 975px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.homeTEXT {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 19px;
	font-weight: normal;
	color: #555;
	text-align: justify;
}
.header2 {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	font-size: 25px;
	line-height: 31px;
	font-weight: normal;
	color: #333;
}
.DASresearch {
	height: 1700px;
	width: 975px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.divisionLine {
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #666;
}
a:link {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	color: #00837F;
	text-decoration: none;
}
a:visited {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	color: #00837F;
	text-decoration: none;
}
a:hover {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	color: #333;
	text-decoration: none;
}
a:active {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	color: #00837F;
	text-decoration: none;
}
.DASpeople {
	height: 3500px;
	width: 975px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.peopleH2 {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	color: #00837F;
}
.peopleTEXT {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
	color: #666;
}
.contactH1 {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #333;
}
.ContactH2 {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
}
.contactH3 {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: bold;
	color: #007E79;
}
.DASresources {
	height: 2250px;
	width: 975px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.PubH1 {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: normal;
	color: #333;
}
.pubH2 {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #333;
}
.teal1 {
	font-family: Gill Sans, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #00817D;
}
.DASpub {
	height: 7250px;
	width: 975px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}


#dasLOGO {
	position:absolute;
	left:6px;
	top:1px;
	width:156px;
	height:83px;
	z-index:1;
}
#DasNAV {
	position:absolute;
	left:225px;
	top:30px;
	width:750px;
	height:31px;
	z-index:2;
}
#animation {
	position:absolute;
	left:2px;
	top:100px;
	width:1012px;
	height:355px;
	z-index:3;
}
#divisionBar {
	position:absolute;
	left:56px;
	top:459px;
	width:855px;
	height:38px;
	z-index:4;
}
#icons {
	position:absolute;
	left:93px;
	top:673px;
	width:729px;
	height:54px;
	z-index:5;
}
#whatWeDo {
	position:absolute;
	left:67px;
	top:520px;
	width:129px;
	height:86px;
	z-index:6;
}
#weStrive {
	position:absolute;
	left:679px;
	top:518px;
	width:226px;
	height:103px;
	z-index:7;
}
#homeTEXT {
	position:absolute;
	left:212px;
	top:519px;
	width:436px;
	height:110px;
	z-index:8;
}
#researchBTN {
	position:absolute;
	left:-52px;
	top:119px;
	width:51px;
	height:205px;
	z-index:1;
}
#apDiv1 {
	position:absolute;
	left:816px;
	top:22px;
	width:175px;
	height:100px;
	z-index:2;
}

