#animation {
	position:absolute;
	left:2px;
	top:100px;
	width:973px;
	height:221px;
	z-index:3;
}
#divisionBar {
	position:absolute;
	left:56px;
	top:360px;
	width:855px;
	height:96px;
	z-index:4;
}
#icons {
	position:absolute;
	left:125px;
	top:3018px;
	width:729px;
	height:54px;
	z-index:5;
}
#DasFOOTER {
	position:absolute;
	left:56px;
	top:2963px;
	width:859px;
	height:53px;
	z-index:9;
}