#dasLOGO {
	position:absolute;
	left:6px;
	top:1px;
	width:156px;
	height:83px;
	z-index:1;
}
#DasNAV {
	position:absolute;
	left:225px;
	top:30px;
	width:750px;
	height:31px;
	z-index:2;
}
#animation {
	position:absolute;
	left:2px;
	top:100px;
	width:973px;
	height:221px;
	z-index:3;
}
#divisionBar {
	position:absolute;
	left:56px;
	top:360px;
	width:855px;
	height:96px;
	z-index:4;
}
#icons {
	position:absolute;
	left:126px;
	top:2000px;
	width:729px;
	height:54px;
	z-index:5;
}
#whatWeDo {
	position:absolute;
	left:67px;
	top:520px;
	width:129px;
	height:86px;
	z-index:6;
}
#weStrive {
	position:absolute;
	left:679px;
	top:518px;
	width:226px;
	height:103px;
	z-index:7;
}
#researchBODY {
	position:absolute;
	left:56px;
	top:360px;
	width:957px;
	height:2000px;
	z-index:8;
}
#researchBTN {
	position:absolute;
	left:-53px;
	top:119px;
	width:51px;
	height:205px;
	z-index:1;
}
#header {
	position:absolute;
	left:673px;
	top:25px;
	width:352px;
	height:114px;
	z-index:1;
}
#DasFOOTER {
	position:absolute;
	left:57px;
	top:2300px;
	width:859px;
	height:53px;
	z-index:9;
}
