!.gitignore

data/*
!data/**/.gitignore
cache/*
!cache/**/.gitignore
backup/*.*gz

*.pyc

media/js/admin/min/*.js
media/js/group/min/*.js
media/js/public/min/*.js
media/js/suit/min/*.js
media/css/min/*.css

config/t47_dev.py
config/*.conf
config/sys/*
