boto >= 2.48.0
Django >= 1.11.7
django-adminplus >= 0.5
django-crontab >= 0.7.1
django-environ >= 0.4.4
django-filemanager == 0.0.2
django-suit >= 0.2.25
django-widget-tweaks >= 1.4.1
dropbox >= 8.6.0
gviz-api.py == 1.8.2
icalendar >= 4.0.0
MySQL-python >= 1.2.5
PyGithub >= 1.35
pytz >= 2017.3
requests >= 2.18.4
simplejson >= 3.13.2
slacker >= 0.9.60
