{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<div id="content-main">
		<iframe src="/admin/browse" class="well" id="iframe"></iframe>
		
	</div>
{% endblock %}


{% block extrajs %}
	<script type="text/javascript">
		$(document).ready(function() {
			$("#iframe").css("width", parseInt($("#content").css("width")) - 50);
			$("#iframe").css("height", 600);
			$("ul.breadcrumb").append('<li class="active"><a href="/admin/doc">Directory Browser</a></li>');
		});
	</script>
{% endblock %}

