{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block title %}Das Lab Website Administration{% endblock %}
{% block extrastyle %}
  	<link rel="shortcut icon" href="/site_media/images/icon_daslab.png" />
    <link rel="icon" type-"image/gif" href="/site_media/images/icon_daslab.png" />
{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<div id="content-main">
		<table class="table-overview applist">
			<tr>
                <th scope="row"><b><i class="icon-globe"></i> Link</th>
                <td><a href="/server-status/" class="addlink icon">http://daslab.stanford.edu/server-status/</a></td>
                <td><i class="icon-lock"></i> Apache Autherization Required</td>
              </tr>
		</table>
		
		
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			// $("#iframe").css("width", parseInt($("#content").css("width")) - 50);
			// $("#iframe").css("height", $("#footer").position().top - $("#content").position().top - 175);
			$("ul.breadcrumb").append('<li class="active"><a href="/admin/doc">Site Documentation</a></li>');
		});
	</script>
{% endblock %}


