{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<div id="content-main">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<table class="table table-overview applist">
				<tr>
	                <th scope="row"><b><span class="glyphicon glyphicon-globe"></span> Link</th>
	                <td class="active"><a href="/server-status/" class="addlink icon">https://www.google.com/analytics/web/?hl=en#report/visitors-overview/a36037648w100053524p103952031/</a></td>
	                <td class="active"><span class="glyphicon glyphicon-lock"></span> Google Analytics Authorization Required</td>
	              </tr>
			</table>
		</div>


		<div class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-4">
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-primary">Bounce Rate</p>
							<p class="lead text-right" style="margin-bottom:0px;">{{bounceRate}} %</p>
						</div>
						<div class="thumbnail" style="padding:10px 20px;">
							<p>
								<span class="label label-primary">User</span>
								<span class="lead pull-right">{{users}}</span>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-inverse">Session Duration</p>
							<p class="lead text-right" style="margin-bottom:0px;">{{sessionDuration}}</p>
						</div>
						<div class="thumbnail" style="padding:10px 20px;">
							<p>
								<span class="label label-inverse">Session</span>
								<span class="lead pull-right">{{sessions}}</span>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-success">Page View / Session</p>
							<p class="lead text-right" style="margin-bottom:0px;">{{pageviewsPerSession}}</p>
						</div>
						<div class="thumbnail" style="padding:10px 20px;">
							<p>
								<span class="label label-success">Page View</span>
								<span class="lead pull-right">{{pageviews}}</span>
							</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div id="chart_24h" class="thumbnail" style="padding:20px;"></div>
					</div>
					<div class="col-md-6">
						<div id="chart_7d" class="thumbnail" style="padding:20px;"></div>
					</div>
				</div>
				<!-- <h1 style="margin-bottom:5px;" class="text-center"><span class="label label-orange">Last 1 Month</span></h1> -->
				<div id="chart_1m" class="thumbnail" style="padding:20px;"></div>
				<!-- <h1 style="margin-bottom:5px;" class="text-center"><span class="label label-warning">Last 3 Months</span></h1> -->
				<div id="chart_3m" class="thumbnail" style="padding:20px;"></div>
			</div>		
			<div class="col-md-5">
				<div id="geo_session" class="thumbnail" style="padding:0px 20px;"></div>
				<div class="row">
					<div class="col-md-6">
						<div id="pie_user" class="thumbnail" style="padding:0px 20px;"></div>
						<div id="pie_browser" class="thumbnail" style="padding:0px 20px;"></div>
					</div>
					<div class="col-md-6">
						<div id="pie_session" class="thumbnail" style="padding:0px 20px;"></div>
						<div id="pie_pageview" class="thumbnail" style="padding:0px 20px;"></div>
					</div>
				</div>
			</div>
		</div>	

	</div>

<div id="embed-api-auth-container"></div>
<div id="view-selector-container"></div>

{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
		(function(w,d,s,g,js,fs){
		  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
		  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
		  js.src='https://apis.google.com/js/platform.js';
		  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
		}(window,document,'script'));

		gapi.analytics.ready(function() {

		  gapi.analytics.auth.authorize({
		    container: 'embed-api-auth-container',
		    clientid: '{{client_id}}',
			serverAuth: { access_token: '{{access_token}}' }
		  });

		  var viewSelector = new gapi.analytics.ViewSelector({ container: 'view-selector-container' });
		  viewSelector.execute();

		  var chart_24h = new gapi.analytics.googleCharts.DataChart({
		    query: {
		      metrics: 'ga:sessions',
		      dimensions: 'ga:dateHour',
		      'start-date': 'yesterday',
		      'end-date': 'today'
		    },
		    chart: {
		      container: 'chart_24h',
		      type: 'LINE',
		      options: {
		        width: '100%',
		        height: '25%',
		        title: 'Last 24 Hours',
		        colors: ['#c28fdd']
		      }
		    }
		  });
		  var chart_7d = new gapi.analytics.googleCharts.DataChart({
		    query: {
		      metrics: 'ga:sessions',
		      dimensions: 'ga:date',
		      'start-date': '7daysAgo',
		      'end-date': 'today'
		    },
		    chart: {
		      container: 'chart_7d',
		      type: 'LINE',
		      options: {
		        width: '100%',
		        height: '25%',
		        title: 'Last 7 Days',
		        colors: ['#ff5c2b']
		      }
		    }
		  });
		  var chart_1m = new gapi.analytics.googleCharts.DataChart({
		    query: {
		      metrics: 'ga:sessions',
		      dimensions: 'ga:date',
		      'start-date': '30daysAgo',
		      'end-date': 'yesterday'
		    },
		    chart: {
		      container: 'chart_1m',
		      type: 'LINE',
		      options: {
		        width: '100%',
		        height: '25%',
		        title: 'Last 30 Days',
		        colors: ['#ff912e']
		      }
		    }
		  });
		  var chart_3m = new gapi.analytics.googleCharts.DataChart({
		    query: {
		      metrics: 'ga:sessions',
		      dimensions: 'ga:date',
		      'start-date': '90daysAgo',
		      'end-date': 'yesterday'
		    },
		    chart: {
		      container: 'chart_3m',
		      type: 'LINE',
		      options: {
		        width: '100%',
		        height: '25%',
		        title: 'Last 90 Days',
		        colors: ['#29be92']
		      }
		    }
		  });
		  var geo_session = new gapi.analytics.googleCharts.DataChart({
		    query: {
		      metrics: 'ga:sessions',
		      dimensions: 'ga:country',
		      'start-date': '30daysAgo',
		      'end-date': 'yesterday'
		    },
		    chart: {
		      container: 'geo_session',
		      type: 'GEO',
		      options: {
		        width: '100%',
		        title: 'Sessions',
		        colorAxis: {colors: ['#ddf6f0','#5496d7']},
		      }
		    }
		  });
		  var pie_session = new gapi.analytics.googleCharts.DataChart({
		    query: {
		      metrics: 'ga:sessions',
		      dimensions: 'ga:userType',
		      'start-date': '30daysAgo',
		      'end-date': 'yesterday'
		    },
		    chart: {
		      container: 'pie_session',
		      type: 'PIE',
		      options: {
		        width: '100%',
		        title: 'Sessions',
		        legend: {'position': 'bottom'},
		        colors: ['#50cc32', '#ff69bc'],
		        pieHole: 0.33,
		      }
		    }
		  });
		  var pie_user = new gapi.analytics.googleCharts.DataChart({
		    query: {
		      metrics: 'ga:users',
		      dimensions: 'ga:userType',
		      'start-date': '30daysAgo',
		      'end-date': 'yesterday'
		    },
		    chart: {
		      container: 'pie_user',
		      type: 'PIE',
		      options: {
		        width: '100%',
		        title: 'Visitors',
		        legend: {'position': 'bottom'},
		        colors: ['#3ed4e7', '#ff912e'],
		        pieHole: 0.33,
		      }
		    }
		  });
		  var pie_browser = new gapi.analytics.googleCharts.DataChart({
		    query: {
		      metrics: 'ga:users',
		      dimensions: 'ga:browser',
		      'start-date': '30daysAgo',
		      'end-date': 'yesterday',
		      filters: 'ga:browser=@Firefox,ga:browser=@Chrome,ga:browser=@Safari,ga:browser=@Internet Explorer',
		      'sort': 'ga:browser',
		      'max-results': 4,
		    },
		    chart: {
		      container: 'pie_browser',
		      type: 'PIE',
		      options: {
		        width: '100%',
		        title: 'Browser',
		        legend: {'position': 'bottom', 'maxLines': 2},
		        colors: ['#29be92', '#ff912e', '#5496d7', '#ff5c2b'],
		        pieHole: 0.33,
		      }
		    }
		  });
		  var pie_pageview = new gapi.analytics.googleCharts.DataChart({
		    query: {
		      metrics: 'ga:pageviews',
		      dimensions: 'ga:userType',
		      'start-date': '30daysAgo',
		      'end-date': 'yesterday',
		    },
		    chart: {
		      container: 'pie_pageview',
		      type: 'PIE',
		      options: {
		        width: '100%',
		        title: 'Page Views',
		        legend: {'position': 'bottom'},
		        colors: ['#8ee4cf', '#c28fdd'],
		        pieHole: 0.33,
		      }
		    }
		  });

		  viewSelector.on('change', function(ids) {
		    chart_24h.set({query: {ids: ids}}).execute();
		    chart_7d.set({query: {ids: ids}}).execute();
		    chart_1m.set({query: {ids: ids}}).execute();
		    chart_3m.set({query: {ids: ids}}).execute();
		    geo_session.set({query: {ids: ids}}).execute();
		    pie_session.set({query: {ids: ids}}).execute();
		    pie_user.set({query: {ids: ids}}).execute();
		    pie_browser.set({query: {ids: ids}}).execute();
		    pie_pageview.set({query: {ids: ids}}).execute();
		  });

	});
	</script>


	<script type="text/javascript">
		$(document).ready(function() {
			$("#view-selector-container").hide();
			$("ul.breadcrumb").append('<li class="active"><a href="/admin/ga/">Google Analytics</a></li>');

		});
	</script>

{% endblock %}

