{% load admin_static %}
{% load suit_tags %}
{% load url from future %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Das Lab Website Administration{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% endblock %}"/>
  {% block extrastyle %}{% endblock %}
  
  <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
  <link rel="stylesheet" type="text/css" href="/site_media/admin/css/_suit.css" media="all">
  <script type="text/javascript" src="/site_media/admin/js/custom/load.js"></script>  
  <script type="text/javascript">var Suit = { $: $.noConflict() }; if (!$) $ = Suit.$; </script>

  {% if 'SHOW_REQUIRED_ASTERISK'|suit_conf %}
    <style type="text/css">.required:after { content: '*'; margin: 0 0 0 5px; position: absolute; color: #ccc;}</style>
  {% endif %}

  {% block extrahead %}{% endblock %}
  <script type="text/javascript" src="/site_media/admin/js/core.js"></script>
  <script type="text/javascript" src="/site_media/admin/js/RelatedObjectLookups.js"></script>
  <script type="text/javascript" src="/site_media/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/site_media/admin/js/actions.min.js"></script>
  <script type="text/javascript" src="/site_media/admin/js/DateTimeShortcuts.js"></script>
  {% block extratail %}{% endblock %}

  {% block blockbots %}
    <meta name="robots" content="NONE,NOARCHIVE"/>
  {% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

  <div id="wait" class="modal"></div>
  <script type="text/javascript">
    django.jQuery("#wait").fadeIn(500);
  </script>

<!-- Sticky footer wrap -->
<div id="wrap">

  <!-- Container -->
  {% block container %}

  <div class="navbar navbar-fixed-top" id="nav_load">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin" id="nav_logo">
          &nbsp;&nbsp;<span id="site-name" style="color:#29be92;">{% block branding %}{{ 'ADMIN_NAME'|suit_conf }}{% endblock %}</span>&nbsp;
          <span style="color:#ff5c2b;">Administration</span>&nbsp;&nbsp;
        </a>
      </div>

      <div class="navbar-collapse collapse" >
        <ul class="nav navbar-nav">
          <li id="nav_meetings">
            <a style="text-decoration:none;">
              <span style="color:#fff;">
                <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                <span class="date"> {% suit_date %}</span>&nbsp;&nbsp;
              </span>
              <span style="color:#fff; font-weight:bold;">
                <span class="glyphicon glyphicon-time"></span>&nbsp;
                <span class="time" id="clock">{% suit_time %}</span>&nbsp;&nbsp;
              </span>
              <span style="color:#92d1ee;">
                <span class="glyphicon glyphicon-globe"></span>&nbsp;UTC:&nbsp;
                <span class="time" id="utc"></span>
              </span>
            </a>
          </li>
        </ul>

        <div class="pull-right">
          <ul class="nav navbar-nav">
            <li class="clickable">
              <span class="lead"><span class="label label-warning"><i><samp><small style="font-weight:normal;">{{user}}</small></samp></i></span></span>
              &nbsp;&nbsp;
              <button class="btn btn-success navbar-btn" style="color: #ffffff;" onclick="location.href='/password'">Change Password</button>
              
              <button class="btn btn-info navbar-btn" style="color: #ffffff;background-color: #5496d7; border-color: #7495c9;" onclick="location.href='/logout'">Sign Out</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    
      <div class="suit-columns {{ is_popup|yesno:'one-column,two-columns' }}">

        {% block content-center %}
          <div id="suit-center" class="suit-column">

            {% if not is_popup %}
              {% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                    {% if title %}
                      <span class="divider">&raquo;</span>
                      </li>
                      <lspan class="glyphicon glyphactive">
                      {{ title }}
                    {% endif %}
                    </li>
                </ul>
              {% endblock %}
            {% endif %}

            {% block messages %}
              {% if messages %}

                {% for message in messages %}
                  <div class="alert alert-{% firstof message.tags 'info' %}">
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endblock messages %}

            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %} row-fluid">
              {% block pretitle %}{% endblock %}
              {% block content_title %}{% if title %}
                <h2 class="content-title">{{ title }}</h2>
              {% endif %}{% endblock %}
              {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
              {% endblock %}
              {% block sidebar_content %}
                {% block sidebar %}{% endblock %}
              {% endblock %}
            </div>
            <!-- END Content -->
          </div>
        {% endblock %}


        {% block content-left %}
          {% if not is_popup %}
            <div id="suit-left" class="suit-column">
              {% block quick-search %}
                {% with 'SEARCH_URL'|suit_conf as search_url %}
                  {% if search_url %}
                    <form class="form-search nav-quick-search" autocomplete="off" action="{% if '/' in search_url %}{{ search_url }}{% else %}{% url search_url %}{% endif %}" method="GET">
                      <input type="text" name="q" class="input-medium search-query" id="quick-search">
                      <span class="glyphicon glyphinput-icon icon-search"></span>
                      <input type="submit" class="submit" value="">
                    </form>
                  {% endif %}
                {% endwith %}
              {% endblock %}

              {% include 'suit/menu.html' %}

            </div>
          {% endif %}
        {% endblock %}

      </div>
    </div>
  {% endblock %}

  {% if not is_popup %}
  <!-- Sticky footer push -->
  <div id="push"></div>
  {% endif %}

</div>

{% block footer %}
  <hr/>
  <div class="container starter-template" id="footer">

{% endblock %}

  <script type="text/javascript" src="/site_media/admin/js/_suit.js"></script>
  <script type="text/javascript" src="/site_media/admin/js/custom/tables.js"></script>
  <script type="text/javascript" src="/site_media/admin/js/custom/menu.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#wait").fadeOut(500);
      $("#footer").load("/site_media/html/_footer.html", function () {
        var today = new Date();
        $("#cp_year").text(today.getFullYear());
      });

    });

    $(window).on("beforeunload", function () {
      $("#wait").fadeIn(500);
    });
  </script>
  {% block extrajs %}{% endblock %}

</body>
</html>
