{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block title %}Das Lab Website Administration{% endblock %}
{% block extrastyle %}
    <link rel="shortcut icon" href="/site_media/images/icon_daslab.png" />
    <link rel="icon" type-"image/gif" href="/site_media/images/icon_daslab.png" />

{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
  <div id="content-main" class="span9">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span8">
            <h4 class="italic-title">&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-off"></i> {% trans 'System Status' %}</h4>
          </div>
          <div class="span4">
            <a href="/admin/sys_stat" target="_blank" class="btn btn-warning pull-right">Refresh</a>            
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th class="span2"><i class="icon-tasks"></i> Back End</th><th class="span2"></th>
              <th class="span2"><i class="icon-refresh"></i> Front End</th><th class="span2"></th>
              <th class="span2"><i class="icon-inbox"></i> Utility</th><th class="span2"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="label label-info">linux</span></td><td id="id_linux"></td>
              <td><span class="label label-warning">jquery</span> (group)</td><td id="id_jquery_group"></td>
              <td><span class="label label-important">apache</span></td><td id="id_apache"></td>
            </tr>
            <tr>
              <td><span class="label label-info">python</span></td><td id="id_python"></td>
              <td><span class="label label-warning">jquery</span> (admin)</td><td id="id_jquery_admin"></td>
              <td><span class="label label-important">webauth</span></td><td id="id_webauth"></td>
            </tr>
            <tr>
              <td><span class="label label-success">django</span></td><td id="id_django"></td>
              <td><span class="label label-warning">bootstrap</span> (group)</td><td id="id_bootstrap_group"></td>
              <td><span class="label label-inverse">ssh</span></td><td id="id_ssh"></td>
            </tr>
            <tr>
              <td><span class="label label-success">django-suit</span></td><td id="id_django_suit"></td>
              <td><span class="label label-warning">bootstrap</span> (admin)</td><td id="id_bootstrap_admin"></td>
              <td><span class="label label-inverse">git</span></td><td id="id_git"></td>
            </tr>
            <tr>
              <td><span class="label label-success">django-filer</span></td><td id="id_django_filer"></td>
              <td></td><td></td>
              <td><span class="label label-default">pip</span></td><td id="id_pip"></td>
            </tr>
            <tr>
              <td><span class="label label-success">django-adminplus</span></td><td id="id_django_adminplus"></td>
              <td><span class="label label-info">mysql</span></td><td id="id_mysql"></td>
              <td><span class="label label-default">virtualenv</span></td><td id="id_virtualenv"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <table class="table">
          <thead>
            <tr>
              <th class="span6"></th>
              <th class="span6"><i class="icon-fullscreen"></i> Size (Available / Used)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class="icon-hdd"></i> Disk Space</td><td id="id_disk_space"></td>
            </tr>
            <tr>
              <td><i class="icon-road"></i> Memory</td><td id="id_memory"></td>
            <tr>
              <td><i class="icon-adjust"></i> Database Backup</td><td id="id_db_backup"></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th class="span6"></th>
              <th class="span6"><i class="icon-fire"></i> Usage (1 / 5 / 15 min)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class="icon-heart"></i> CPU</td><td id="id_cpu"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span6">
        <table class="table">
          <thead>
            <tr>
              <th class="span6"></th>
              <th class="span3"><i class="icon-th"></i> # of Files</th>
              <th class="span3"><i class="icon-share"></i> Size</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class="icon-picture"></i> News Items</td><td id="id_news_n"></td><td id="id_news_s"></td>
            </tr>
            <tr>
              <td><i class="icon-user"></i> Members</td><td id="id_member_n"></td><td id="id_member_s"></td>
            </tr>
            <tr>
              <td><i class="icon-file"></i> Publication PDFs</td><td id="id_pub_n"></td><td id="id_pub_s"></td>
            </tr>
            <tr>
              <td><i class="icon-retweet"></i> Rotation Students</td><td id="id_rot_n"></td><td id="id_rot_s"></td>
            </tr>
            <tr>
                <td><i class="icon-bookmark"></i> Archived Presentations</td><td id="id_spe_n"></td><td id="id_spe_s"></td>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <script type="text/javascript" src="/site_media/js/dashboard.js"></script>

{% endblock %}


{% block sidebar %}
  <div id="content-related">
    <div class="module" id="recent-actions-module">
      <h4 class="italic-title"><i class="icon-repeat"></i> {% trans 'My Actions' %}</h4>

      {% load log %}
      {% get_admin_log 10 as admin_log for_user user %}
      {% if not admin_log %}
        <p>{% trans 'None available' %}</p>
      {% else %}
        <ul class="actionlist">
          {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}text-error{% endif %}">

              <i class="{% if entry.is_addition %}icon-plus-sign{% endif %}{% if entry.is_change %}icon-edit{% endif %}{% if entry.is_deletion %}icon-trash{% endif %} icon-alpha5"></i>

              {% spaceless %}
                {% if entry.is_addition %}{% trans 'added'|capfirst %}{% endif %}
                {% if entry.is_change %}{% trans 'changed'|capfirst %}{% endif %}
                {% if entry.is_deletion %}{% trans 'deleted'|capfirst %}{% endif %}

                {% if entry.content_type %}
                  <span class="mini quiet">{% filter capfirst %}
                    {% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                  <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
              {% endspaceless %}&nbsp;

              {% if entry.is_deletion or not entry.get_admin_url %}
                <span class="color-grey">{{ entry.object_repr }}</span>
              {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
