{
	"CRONJOBS": [
		["cron_string", "backup_job", ">> path/log_cron.log"],
		["cron_string", "upload_job", ">> path/log_cron.log"],
		["cron_string", "sys_ver_job", ">> path/log_cron.log"]
	],
	"CRONTAB_LOCK_JOBS": true,
	"KEEP_BACKUP": 60
}
