# set to 0 for test environment
# set to 1 for server deployment
IS_DEVEL = 0

# set to 0 for normal
# set to 1 for maintenance placeholder (whole site shut down)
IS_MAINTENANCE = 0

# no logner used
# set to 0 for email notification (admin)
# set to 1 for slack notification (admin)
# IS_SLACK = 1
