<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DAS LAB + Stanford Biochemistry Department + Stanford University</title>
    <script type="text/javascript">
      var DEBUG_DIR = "{{DEBUG_DIR}}", DEBUG_STR = "{{DEBUG_STR}}";
    </script>
    <script type="text/javascript" src="/site_media/js/admin/{{DEBUG_DIR}}load{{DEBUG_STR}}.js"></script>
    <link href="/site_media/css/{{DEBUG_DIR}}DasStyle{{DEBUG_STR}}.css" rel="stylesheet" type="text/css" />
    {% block header %}{% endblock %}

    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{TRACKING_ID}}', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <div id="main" class='DASmain'>
      <div id="dasLOGO" class="fix">
        <a href="/"><img src="/site_media/images/logo_das.jpg" width="141" height="82"></a>
      </div>
      <div id="DasNAV" class="fix">
        <table width="750" height="34" border="0">
          <tbody>
            <tr>
              <td width="73" align="left" valign="top">
                <a id="nav-home" href="/" class="nav-hover"><div class="nav_home"></div></a>
              </td>
              <td width="117" align="left" valign="top">
                <a id="nav-research" href="/research/" class="nav-hover"><div class="nav_research"></div></a>
              </td>
              <td width="73" align="left" valign="top">
                <a id="nav-news" href="/news/" class="nav-hover"><div class="nav_news"></div></a>
              </td>
              <td width="94" align="left" valign="top">
                <a id="nav-people" href="/people/" class="nav-hover"><div class="nav_people"></div></a>
              </td>
              <td width="159" align="left" valign="top">
                <a id="nav-publications" href="/publications/" class="nav-hover"><div class="nav_publications"></div></a>
              </td>
              <td width="127" align="left" valign="top">
                <a id="nav-resources" href="/resources/" class="nav-hover"><div class="nav_resources"></div></a>
              </td>
              <td width="77" align="left" valign="top">
                <a id="nav-contact" href="/contact/" class="nav-hover"><div class="nav_contact"></div></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="DasCONTENT">{% block content %}{% endblock %}</div>
      
      <div id="DasFOOTER" class="fix">
        <div class="footer_left" style="float:left;"></div>
        <a href="/group/">
          <div class="footer_right" style="float:right;" id="img_group"></div>
        </a>
      </div>
      <a href="#" id="top" style="z-index:2000;">
        <div style="position:fixed; display:block; right:-5%; bottom:100px; opacity:0.85; z-index:2000; width:60px; height:60px;"><i class="nav_top"></i></div>
      </a>

      <div id="DasICON" class="fix">
        <a href="http://biochem.stanford.edu/" target="_blank"><div class="nav_footer_biochem"></div></a>
        <a href="http://med.stanford.edu/" target="_blank"><div class="nav_footer_stfmed"></div></a>
        <a href="https://physics.stanford.edu/" target="_blank"><div class="nav_footer_physics"></div></a>
        <a href="http://bioxgames.stanford.edu/index.html" target="_blank"><div class="nav_footer_biox"></div></a>
      </div>
    </div>

    <script type="text/javascript" src="/site_media/js/public/{{DEBUG_DIR}}main{{DEBUG_STR}}.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>

