<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Das Lab: Group Member Website</title>
    <script type="text/javascript" src="/site_media/js/admin/load.js"></script>  
    {% block head %}{% endblock %}
</head>

<body>
	<div id="wait" class="modal"></div>
	<script type="text/javascript">
		$("#wait").fadeIn(500);
	</script>

	<div class="navbar navbar-fixed-top" id="nav_load">
		<div class="container">
			<div class="navbar-header clickable">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" id="nav_logo">&nbsp;&nbsp;<span>Das Lab Website</span>&nbsp;&nbsp;</a>
			</div>

			<div class="navbar-collapse collapse" >
				<ul class="nav navbar-nav">
					<li class=" clickable" id="nav_meetings">
						<a href="/group/meetings" >Meetings</a>
					</li>
					<li class=" clickable" id="nav_calendar">
						<a href="/group/calendar" >Calendar</a>
					</li>
					<li class=" clickable" id="nav_resources">
						<a href="/group/resources" >Resources</a>
					</li>
					<li class=" clickable" id="nav_misc">
						<a href="/group/misc" >Misc</a>
					</li>
					{% if user.is_superuser %}
					<li class=" clickable" id="nav_admin">
						<a href="/admin" style="color:#ff5c2b">Admin</a>
					</li>
					{% endif %}
				</ul>

				<div class="pull-right row">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<button class="btn btn-info navbar-btn dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color: #fff;background-color: #5496d7; border-color: #7495c9;">
								Account&nbsp;
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right nav nav-pills nav-stacked" role="menu" id="nav_user">
								<li class="nav-list">
									<br/>
									<p><span style="text-decoration:underline; color:gray;">Signed In As:</span></p>
								</li>
								<li id="nav_username" style="width:225px;" class="nav-list">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;
									<b>{{ user.first_name }} {{ user.last_name }}</b>
									<br/>
									<span class="glyphicon glyphicon-user" aria-hidden="true" style="color:#fff;"></span>&nbsp;&nbsp;
									<kbd>{{ user.username }}</kbd>
									<br/><br/>
									<p>
										<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;&nbsp;
										Last Login: {{ user.last_login|date:"SHORT_DATE_FORMAT" }}
									</p>
									<p>
										<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;&nbsp;
										Status:
										<span class="label label-{% if user.is_active %}green{% else %}default{% endif %}">
											<span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>&nbsp;&nbsp;
											Active
										</span>
									</p>
									<p>
										<span style="color:#fff;">
											<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;&nbsp;
											Status:
										</span>
										<span class="label label-{% if user.is_staff %}violet{% else %}default{% endif %}">
											<span class="glyphicon glyphicon-queen" aria-hidden="true"></span>&nbsp;&nbsp;
											Staff
										</span>
									</p>
									<p>
										<span style="color:#fff;">
											<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;&nbsp;
											Status:
										</span>
										<span class="label label-{% if user.is_superuser %}orange{% else %}default{% endif %}">
											<span class="glyphicon glyphicon-king" aria-hidden="true"></span>&nbsp;&nbsp;
											Admin
										</span>
									</p>
								</li>
								<li class="divider"></li>
								<li><a class="" href="/profile">
									<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp;&nbsp;
									View Profile</a>
								</li>
								<li><a class="" href="/password">
									<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp;&nbsp;
									Change Password</a>
								</li>
								<li class="divider"></li>
								<li><a class="" href="/logout">
									<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;&nbsp;
									Sign Out</a>
								</li>

							</ul>
						</li>
					</ul>
				</div>

	
			</div>
		</div>
	</div>

	<div class="container">
		<div class="jumbotron" id="jumbotron">
			<div class="row">
				<div class="col-md-12">
					<a href="/group">
						<img src="/site_media/images/nav_group.gif" style="max-width:100%;" class="center-block"/>
					</a>
				</div>
			</div>
		</div>
	</div>
    <hr/>

	{% block content %}{% endblock %}
	
	<hr/>
	<div class="container starter-template" id="footer"></div>
	<a href="#" id="top">
		<img style="position:fixed;display:block;right:5%;bottom:5%;opacity:0.85;" src="/site_media/images/nav_top.png" name="top" height="60"/>
	</a>

	<script type="text/javascript">
		$(document).ready(function () {
			$("#wait").fadeOut(500);
			$("#footer").load("/site_media/html/_footer.html", function () {
				var today = new Date();
				$("#cp_year").text(today.getFullYear());
			});

			$(".dropdown-toggle").dropdown();
			$(".dropdown").hover(
	            function(){ $(this).addClass("open") },
    	        function(){ $(this).removeClass("open") }
        	);
            $("[data-toggle='popover']").popover({trigger: "hover"});
			$("[data-toggle='tooltip']").tooltip();

			$("#top").on("click", function () {
				$("html, body").stop().animate({scrollTop: 0}, 500);
	        	event.preventDefault()
			});
			$("#top").on("mouseover", function () {
				$("#top > img").attr("src", "/site_media/images/nav_top_hover.png");
			});
			$("#top").on("mouseout", function () {
				$("#top > img").attr("src", "/site_media/images/nav_top.png");
			});
			$("#top").hide();

			$(".clickable").on("click", function () {
				if ($("#buttonAll").length && $(this).attr("id") == "nav_browse") {
					$("#wait").hide();
				} else {
					$("#wait").fadeIn(500);
				}
			});
		});

		$(window).on("beforeunload", function () {
			$("#wait").fadeIn(500);
		});
		$(window).on("scroll", function () {
			if ($(this).scrollTop() > $(window).height()/2) {
				$('#top').fadeIn();
			} else {
				$('#top').fadeOut();
			}
		});
	</script>

	{% block script %}{% endblock %}
    <script type="text/javascript">
		// var _gaq = _gaq || [];
		// 	_gaq.push(["_setAccount", "UA-36037648-1"]);
		// 	_gaq.push(["_trackPageview"]);

		// (function() {
		// 	var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
		// 	ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
		// 	var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
		// })();
	</script>
</body>
</html>
