{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<div id="content-main">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<table class="table table-overview applist">
					<tr>
		                <th scope="row"><b><span class="glyphicon glyphicon-globe"></span> Link</th>
		                <td class="active"><a href="https://us-west-2.console.aws.amazon.com/ec2/v2/home?region=us-west-2#" target="_blank" class="addlink icon">https://us-west-2.console.aws.amazon.com/ec2/v2/home?region=us-west-2#</a></td>
		                <td class="active"><span class="glyphicon glyphicon-lock"></span> Amazon Web Services Authorization Required</td>
		              </tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th class="col-md-1"></th><th class="col-md-1"></th><th class="col-md-1"></th>
							<th class="col-md-1"></th><th class="col-md-1"></th><th class="col-md-1"></th>
							<th class="col-md-1"></th><th class="col-md-1"></th><th class="col-md-1"></th>
							<th class="col-md-1"></th><th class="col-md-1"></th><th class="col-md-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><span class="label label-dark-blue">Instance</span><span class="label label-inverse">ID</span></td><td colspan="2"><code>{{ec2.id}}</code></td>
							<td><span class="label label-dark-blue">Instance</span><span class="label label-primary">Type</span></td><td colspan="2"><code>{{ec2.instance_type}}</code></td>
							<td><span class="label label-dark-blue">Instance</span><span class="label label-magenta">Image</span></td><td colspan="2"><code>{{ec2.image_id}}</code></td>
							<td>
								<div class="pull-right">
									<span class="label label-dark-blue">Instance</span><span class="label label-violet">Arch</span>
								</div>
							</td>
							<td colspan="2"><code>{{ec2.architecture}}</code></td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="pull-right">
									<span class="label label-dark-green">Load Balancer</span><span class="label label-success">Public DNS</span>
								</div>
							</td>
							<td colspan="5"><code>{{elb.dns_name}}</code></td>
							<td>
								<div class="pull-right">
									<span class="label label-dark-red">Volume</span><span class="label label-primary">Type</span>
								</div>
							</td>
							<td><code>{{ebs.type}}</code></td>
							<td>
								<div class="pull-right">
									<span class="label label-dark-red">Volume</span><span class="label label-inverse">ID</span>
								</div>
							</td>
							<td colspan="2"><code>{{ebs.id}}</code></td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="pull-right">
									<span class="label label-dark-blue">Instance</span><span class="label label-success">Public DNS</span>
								</div>
							</td>
							<td colspan="5"><code>{{ec2.public_dns_name}}</code></td>
							<td>
								<div class="pull-right">
									<span class="label label-dark-red">Volume</span><span class="label label-warning">Size</span>
								</div>
							</td>
							<td><code>{{ebs.size}}</code> GB</td>
							<td>
								<div class="pull-right">
									<span class="label label-dark-red">Volume</span><span class="label label-magenta">Snapshot</span>
								</div>
							</td>
							<td colspan="2"><code>{{ebs.snapshot_id}}</code></td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="pull-right">
									<span class="label label-dark-blue">Instance</span><span class="label label-danger">Private DNS</span>
								</div>
							</td>
							<td colspan="5"><code>{{ec2.private_dns_name}}</code></td>
							<td colspan="2">
								<div class="pull-right">
									<span class="label label-dark-green">Load Balancer</span><span class="label label-info">Health Check</span>
								</div>
							</td>
							<td colspan="3"><code>{{elb.health_check}}</code></td>
						</tr>
						<tr>
							<td><span class="label label-dark-blue">Instance</span><span class="label label-default">Subnet</span></td><td colspan="2"><code>{{ec2.subnet_id}}</code></td>
							<td><span class="label label-dark-blue">Instance</span><span class="label label-default">VPC</span></td><td colspan="2"><code>{{ec2.vpc_id}}</code></td>
							<td><span class="label label-dark-green">Load Balancer</span><span class="label label-default">VPC</span></td><td colspan="2"><code>{{elb.vpc_id}}</code></td>
							<td>
								<div class="pull-right">
									<span class="label label-orange">Zone</span>
								</div>
							</td>
							<td colspan="2"><code>{{ebs.zone}}</code></td>
						</tr>
						<tr><td colspan="12" style="padding: 0px;"></td></tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h4><span class="label label-inverse" style="color: #ff0;">Latency</span></h4>
				<div id="plot_lat1" class="thumbnail place_holder" style="padding:0px 20px;"></div>
			</div>
			<div class="col-md-6">
				<h4>&nbsp;</h4>
				<div id="plot_lat2" class="thumbnail place_holder" style="padding:0px 20px;"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4><span class="label label-inverse" style="color: #ff0;">Requests</span></h4>
				<div id="plot_req1" class="thumbnail place_holder" style="padding:0px 20px;"></div>
			</div>
			<div class="col-md-6">
				<h4>&nbsp;</h4>
				<div id="plot_req2" class="thumbnail place_holder" style="padding:0px 20px;"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4><span class="label label-inverse" style="color: #ff0;">CPU Utilization</span></h4>
				<div id="plot_cpu1" class="thumbnail place_holder" style="padding:0px 20px;"></div>
			</div>
			<div class="col-md-6">
				<h4>&nbsp;</h4>
				<div id="plot_cpu2" class="thumbnail place_holder" style="padding:0px 20px;"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4><span class="label label-inverse" style="color: #ff0;">Hosts</span></h4>
				<div id="plot_host" class="thumbnail place_holder" style="padding:0px 20px; height: 220px;"></div>
			</div>
			<div class="col-md-4">
				<h4><span class="label label-inverse" style="color: #ff0;">CPU Credits</span></h4>
				<div id="plot_credit" class="thumbnail place_holder" style="padding:0px 20px; height: 220px;"></div>
			</div>
			<div class="col-md-4">
				<h4><span class="label label-inverse" style="color: #ff0;">Status</span></h4>
				<div id="plot_status" class="thumbnail place_holder" style="padding:0px 20px; height: 220px;"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4><span class="label label-inverse" style="color: #ff0;">Network I/O</span></h4>
				<div id="plot_net" class="thumbnail place_holder" style="padding:0px 20px; height: 220px;"></div>
			</div>
			<div class="col-md-6">
				<h4><span class="label label-inverse" style="color: #ff0;">Disk I/O</span></h4>
				<div id="plot_vol" class="thumbnail place_holder" style="padding:0px 20px; height: 220px;"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4><span class="label label-inverse" style="color: #ff0;">HTTP 2xx & 3xx</span></h4>
				<div id="plot_23xx" class="thumbnail place_holder" style="padding:0px 20px; height: 220px;"></div>
			</div>
			<div class="col-md-6">
				<h4><span class="label label-inverse" style="color: #ff0;">HTTP 4xx & 5xx</span></h4>
				<div id="plot_45xx" class="thumbnail place_holder" style="padding:0px 20px; height: 220px;"></div>
			</div>
		</div>
		
	</div>
{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
		$(document).ready(function() {
			$("#view-selector-container").hide();
			$("ul.breadcrumb").append('<li class="active"><a href="/admin/aws/">Amazon Web Services</a></li>');
		});
	</script>
    <script type="text/javascript" src="http://www.google.com/jsapi" ></script>
	<script type="text/javascript" src="/site_media/js/admin/aws.js"></script>

{% endblock %}

