{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<div id="content-main">
		<div class="row">
			aaa
		</div>
		
		
	</div>
{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
		$(document).ready(function() {
			$("ul.breadcrumb").append('<li class="active"><img src="/site_media/images/icons/slack.png" height="21px" style="vertical-align:text-top;">&nbsp;&nbsp;Slack Messages</li>');
		});
	</script>

{% endblock %}

