{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<form enctype="multipart/form-data" action="/admin/bot/" method="post">
			{% csrf_token %}
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<div class="thumbnail" style="padding:10px 20px;">
					<h4><span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>&nbsp;&nbsp;Duty Reminders</h4>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<h4><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;&nbsp;Monthly Tasks</h4>
							<ul>
								<div class="checkbox">
									<label>
										{{form.is_duty_bday}}
										Birthday Celebrations
									</label>
								</div>
								<div class="checkbox">
									<label>
										{{form.is_duty_aws}}
										Amazon Web Services
									</label>
								</div>
								<div class="checkbox">
									<label>
										{{form.is_duty_website}}
										Lab Website
									</label>
								</div>
								<div class="checkbox">
									<label>
										{{form.is_duty_schedule}}
										Meeting Scheduling
									</label>
								</div>
							</ul>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<h4><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;&nbsp;Weekly Tasks</h4>
							<ul>
								<div class="checkbox">
									<label>
										{{form.is_duty_breakfast}}
										Breakfast
									</label>
								</div>
							</ul>
							<h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;&nbsp;Quarterly Tasks</h4>
							<ul>
								<div class="checkbox">
									<label>
										{{form.is_duty_trip}}
										Lab Outing/Trips
									</label>
								</div>
								<div class="checkbox">
									<label>
										{{form.is_duty_git}}
										Mailing, Slack, GitHub
									</label>
								</div>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<ul>
			                    <div class="input-group">
				                    <span class="input-group-addon">Every</span>
									{{form.day_duty_month}}
								</div>
							</ul>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<ul>
			                    <div class="input-group">
				                    <span class="input-group-addon">Every</span>
									{{form.day_duty_quarter}}
								</div>
							</ul>
						</div>
					</div>
					<br/>
				</div>

				<div class="thumbnail" style="padding:10px 20px;">
					<h4><img src="/site_media/images/icons/slack.png" height="21px" style="vertical-align:text-top;">&nbsp;&nbsp;Slack Integration</h4>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<h4><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;&nbsp;Functions</h4>
							<ul>
								<div class="checkbox">
									<label>
										{{form.is_slack}}
										Use Slack for notifications
									</label>
								</div>
								<div class="checkbox">
									<label>
										{{form.is_flash_slide}}
										Setup Flash Slides automatically
									</label>
								</div>
							</ul>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<h4><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;Notifications</h4>
							<ul>
								<div class="checkbox">
									<label>
										{{form.is_bday}}
										Birthday Wishes
									</label>
								</div>
								<div class="checkbox">
									<label>
										{{form.is_admin_backup}}
										Backup Statistics
									</label>
								</div>
								<div class="checkbox">
									<label>
										{{form.is_admin_gdrive}}
										Sync Statistics
									</label>
								</div>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<br/>
							<div class="row">
				                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
									<span class="lead"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;<code><b>Group Meeting</b></code></span> is on:
								</div>
				                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									{{form.day_meeting}}
								</div>
							</div>
							<h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;Group Meeting Reminder</h4>
							<div class="row">
				                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
				                	<div class="input-group">
										{{form.day_reminder_1}}
										<span class="input-group-addon">days</span>
									</div>
								</div>
				                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									Before <code><b>Group Meeting</b></code>; also for <u>Reminder 1s</u>.
								</div>
							</div>
							<h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;Follow-up Reminder</h4>
							<div class="row">
				                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
				                	<div class="input-group">
									{{form.day_reminder_2}}
										<span class="input-group-addon">days</span>
									</div>
								</div>
				                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									Before <code><b>Group Meeting</b></code>; for <u>Reminder 2s</u>.
								</div>
							</div>
						</div>
					</div>
					<br/>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="thumbnail" style="padding:10px 20px;">
							<h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;<code><b>Journal Club</b></code></h4>
							<div class="checkbox">
								<label>
									{{form.is_user_jc_1}}
									Reminder<u>(1)</u> for <b>next</b> week
								</label>
							</div>
							<div class="checkbox">
								<label>
									{{form.is_user_jc_2}}
									Reminder<u>(2)</u> for <b>this</b> week
								</label>
							</div>
							<div class="checkbox">
								<label>
									{{form.is_admin_jc}}
									Admin reminder for <b>database</b>
								</label>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="thumbnail" style="padding:10px 20px;">
							<h4><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>&nbsp;&nbsp;<code><b>Rotation Student</b></code></h4>
							<div class="checkbox">
								<label>
									{{form.is_user_rot_1}}
									Reminder<u>(1)</u> for <b>next</b> week
								</label>
							</div>
							<div class="checkbox">
								<label>
									{{form.is_user_rot_2}}
									Reminder<u>(2)</u> for <b>this</b> week
								</label>
							</div>
							<div class="checkbox">
								<label>
									{{form.is_admin_rot}}
									Admin reminder for <b>database</b>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="thumbnail" style="padding:10px 20px;">
					<h4><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>&nbsp;&nbsp;Cache</h4>
					<div class="checkbox">
						<label>
							{{form.is_cache}}
							Cache dashboard results
						</label>
					</div>
                    <div class="input-group">
                    	<span class="input-group-btn">
					    	<button class="btn btn-green" type="button"><span class="glyphicon glyphicon-tint"></span></button>
					    </span>	
	                    <span class="input-group-addon">Every</span>
	                    {{form.cache_3}}
	                    <span class="input-group-addon">min</span>
                    </div>
                    <br/>
                    <div class="input-group">
                    	<span class="input-group-btn">
					    	<button class="btn btn-warning" type="button"><span class="glyphicon glyphicon-fire"></span></button>
					    </span>	
	                    <span class="input-group-addon">Every</span>
	                    {{form.cache_15}}
	                    <span class="input-group-addon">min</span>
                    </div>
                    <br/>
                    <div class="input-group">
                    	<span class="input-group-btn">
					    	<button class="btn btn-info" type="button"><span class="glyphicon glyphicon-leaf"></span></button>
					    </span>	
	                    <span class="input-group-addon">Every</span>
	                    {{form.cache_30}}
	                    <span class="input-group-addon">min</span>
                    </div>
                    <br/>
				</div>
				<div class="thumbnail" style="padding:10px 20px;">
					<h4><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>&nbsp;&nbsp;<code><b>Eterna Special</b></code></h4>
					<div class="checkbox">
						<label>
							{{form.is_duty_mic}}
							Microphone Setup
						</label>
					</div>
					<div class="checkbox">
						<label>
							{{form.is_duty_webnews}}
							Post news to DasLab Website
						</label>
					</div>
					<div class="checkbox">
						<label>
							{{form.is_duty_broadcast}}
							Post news to Eterna Website
						</label>
					</div>
					<br/>
					<div class="checkbox">
						<label>
							{{form.is_user_es_1}}
							Reminder<u>(1)</u> for <b>next</b> week
						</label>
					</div>
					<div class="checkbox">
						<label>
							{{form.is_user_es_2}}
							Reminder<u>(2)</u> for <b>this</b> week
						</label>
					</div>
					<div class="checkbox">
						<label>
							{{form.is_admin_es}}
							Admin reminder for <b>database</b>
						</label>
					</div>
				</div>
	            <div class="row">
	            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	            		<button type="submit" class="btn btn-info btn-block"/><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;&nbsp;Save</button>
	            	</div>
	            </div>
	            <br/>
	            <div class="row">
	            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	            		<button type="button" class="btn btn-default btn-block" onclick="location.href='/admin/backup/'"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;&nbsp;Reset</button>
	            	</div>
	            </div>
			</div>

		</form>
	</div>
{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
		$(document).ready(function() {
			$("ul.breadcrumb").append('<li class="active"><img src="/site_media/images/icons/bot.png" height="21px" style="vertical-align:text-top;">&nbsp;&nbsp;DasLab Bot Settings</li>');
		});
	</script>

{% endblock %}

