{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<div id="content-main">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<table class="table table-overview applist">
					<tr>
		                <th scope="row"><b><span class="glyphicon glyphicon-globe"></span> Link</th>
		                <td class="active"><a href="https://www.google.com/analytics/web/?hl=en#report/visitors-overview/a36037648w100053524p103952031/" target="_blank" class="addlink icon">https://www.google.com/analytics/web/?hl=en#report/visitors-overview/a36037648w100053524p103952031/</a></td>
		                <td class="active"><span class="glyphicon glyphicon-lock"></span> Google Analytics Authorization Required</td>
		              </tr>
				</table>
			</div>
		</div>

		<h4>Last 30 Days</h4>
		<div class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-4">
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-primary">Bounce Rate</p>
							<p class="lead text-right" style="margin-bottom:0px;">{{bounceRate}} %</p>
							<p class="lead" style="margin-bottom:30px;">
								<small class="pull-left" id="br_prv_ico"></small>
								<span class="pull-right" id="br_prv">{{bounceRate_prev}} %</span>
							</p>
						</div>
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-primary">User</p>
							<p class="lead text-right" style="margin-bottom:0px;">{{users}}</p>
							<p class="lead" style="margin-bottom:30px;">
								<small class="pull-left" id="u_prv_ico"></small>
								<span class="pull-right" id="u_prv">{{users_prev}}</span>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-inverse">Session Duration</p>
							<p class="lead text-right" style="margin-bottom:0px;">{{sessionDuration}}</p>
							<p class="lead" style="margin-bottom:30px;">
								<small class="pull-left" id="sd_prv_ico"></small>
								<span class="pull-right" id="sd_prv">{{sessionDuration_prev}}</span>
							</p>
						</div>
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-inverse">Session</p>
							<p class="lead text-right" style="margin-bottom:0px;">{{sessions}}</p>
							<p class="lead" style="margin-bottom:30px;">
								<small class="pull-left" id="s_prv_ico"></small>
								<span class="pull-right" id="s_prv">{{sessions_prev}}</span>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-violet">Page View / Session</p>
							<p class="lead text-right" style="margin-bottom:0px;">{{pageviewsPerSession}}</p>
							<p class="lead" style="margin-bottom:30px;">
								<small class="pull-left" id="pvs_prv_ico"></small>
								<span class="pull-right" id="pvs_prv">{{pageviewsPerSession_prev}}</span>
							</p>
						</div>
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-violet">Page View</p>
							<p class="lead text-right" style="margin-bottom:0px;">{{pageviews}}</p>
							<p class="lead" style="margin-bottom:30px;">
								<small class="pull-left" id="pv_prv_ico"></small>
								<span class="pull-right" id="pv_prv">{{pageviews_prev}}</span>
							</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div id="chart_24h" class="thumbnail place_holder" style="padding:20px;"></div>
					</div>
					<div class="col-md-6">
						<div id="chart_7d" class="thumbnail place_holder" style="padding:20px;"></div>
					</div>
				</div>
				<!-- <h1 style="margin-bottom:5px;" class="text-center"><span class="label label-orange">Last 1 Month</span></h1> -->
				<div id="chart_1m" class="thumbnail place_holder" style="padding:20px;"></div>
				<!-- <h1 style="margin-bottom:5px;" class="text-center"><span class="label label-warning">Last 3 Months</span></h1> -->
				<div id="chart_3m" class="thumbnail place_holder" style="padding:20px;"></div>
			</div>		
			<div class="col-md-5">
				<div id="geo_session" class="thumbnail place_holder" style="padding:0px 20px;"></div>
				<div class="row">
					<div class="col-md-6">
						<div id="pie_user" class="thumbnail place_holder" style="padding:0px 20px;"></div>
						<div id="pie_browser" class="thumbnail place_holder" style="padding:0px 20px;"></div>
					</div>
					<div class="col-md-6">
						<div id="pie_session" class="thumbnail place_holder" style="padding:0px 20px;"></div>
						<div id="pie_pageview" class="thumbnail place_holder" style="padding:0px 20px;"></div>
					</div>
				</div>
			</div>
		</div>	

	</div>

<div id="embed-api-auth-container"></div>
<div id="view-selector-container"></div>

{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
		var client_id = '{{client_id}}', access_token = '{{access_token}}';

		$(document).ready(function() {
			$("#view-selector-container").hide();
			$("ul.breadcrumb").append('<li class="active"><a href="/admin/ga/">Google Analytics</a></li>');

			var green = "#50cc32", red = "#ff5c2b";
			if ($("#br_prv").html().indexOf('-') != -1) {
				$("#br_prv_ico").html('<sup><span class="label label-green"><span class="glyphicon glyphicon-arrow-down"></span></span></sup>');
				$("#br_prv").css("color", green);
			} else {
				$("#br_prv_ico").html('<sup><span class="label label-danger"><span class="glyphicon glyphicon-arrow-up"></span></span></sup>');
				$("#br_prv").css("color", red);
				$("#br_prv").html('+' + $("#br_prv").html());
			}
			if ($("#u_prv").html().indexOf('-') != -1) {
				$("#u_prv_ico").html('<sup><span class="label label-green"><span class="glyphicon glyphicon-arrow-down"></span></span></sup>');
				$("#u_prv").css("color", green);
			} else {
				$("#u_prv_ico").html('<sup><span class="label label-danger"><span class="glyphicon glyphicon-arrow-up"></span></span></sup>');
				$("#u_prv").css("color", red);
				$("#u_prv").html('+' + $("#u_prv").html());
			}
			if ($("#sd_prv").html().indexOf('-') != -1) {
				$("#sd_prv_ico").html('<sup><span class="label label-green"><span class="glyphicon glyphicon-arrow-down"></span></span></sup>');
				$("#sd_prv").css("color", green);
			} else {
				$("#sd_prv_ico").html('<sup><span class="label label-danger"><span class="glyphicon glyphicon-arrow-up"></span></span></sup>');
				$("#sd_prv").css("color", red);
				$("#sd_prv").html('+' + $("#sd_prv").html());
			}
			if ($("#s_prv").html().indexOf('-') != -1) {
				$("#s_prv_ico").html('<sup><span class="label label-green"><span class="glyphicon glyphicon-arrow-down"></span></span></sup>');
				$("#s_prv").css("color", green);
			} else {
				$("#s_prv_ico").html('<sup><span class="label label-danger"><span class="glyphicon glyphicon-arrow-up"></span></span></sup>');
				$("#s_prv").css("color", red);
				$("#s_prv").html('+' + $("#s_prv").html());
			}
			if ($("#pvs_prv").html().indexOf('-') != -1) {
				$("#pvs_prv_ico").html('<sup><span class="label label-green"><span class="glyphicon glyphicon-arrow-down"></span></span></sup>');
				$("#pvs_prv").css("color", green);
			} else {
				$("#pvs_prv_ico").html('<sup><span class="label label-danger"><span class="glyphicon glyphicon-arrow-up"></span></span></sup>');
				$("#pvs_prv").css("color", red);
				$("#pvs_prv").html('+' + $("#pvs_prv").html());
			}
			if ($("#pv_prv").html().indexOf('-') != -1) {
				$("#pv_prv_ico").html('<sup><span class="label label-green"><span class="glyphicon glyphicon-arrow-down"></span></span></sup>');
				$("#pv_prv").css("color", green);
			} else {
				$("#pv_prv_ico").html('<sup><span class="label label-danger"><span class="glyphicon glyphicon-arrow-up"></span></span></sup>');
				$("#pv_prv").css("color", red);
				$("#pv_prv").html('+' + $("#pv_prv").html());
			}

		});
	</script>
	<script type="text/javascript" src="/site_media/js/admin/ga.js"></script>
{% endblock %}

