{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block content %}
<div id="content-main" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="jumbotron">
        <div class="container">
          <h1>DasLab Admin Manual</h1>
          <img src="/site_media/images/logo_das.jpg" style="clear:both; float:right; padding-left: 20px;"/>
          <p>
            This page is oriented to new admin about making transitions, daily responsibilities, and test environment setup.
          </p>
          <br/>
          <h5>by <i>t47</i>, Feb 2016</h5>
        </div>
      </div>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" id="side">
      <div id="side_con">
        <div class="panel panel-success" id="sidebar" >
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;Sections</h3>
          </div>
          <div class="panel-body scroll_nav">
            <ul class="nav" role="tablist" id="scroll_nav">
              <li class="li-orange">
                  <a id="tab_1" href="#admin_setup">
                    <span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;Section #1: 
                    <br/>
                    <b>New Admin Setup</b>
                    <span class="glyphicon pull-right glyphicon-triangle-bottom" data-toggle="collapse" data-parent="#accordion" href="#collapse_tab_1" aria-expanded="true" aria-controls="collapse_tab_1"></span>
                  </a>
                  <ul id="collapse_tab_1" class="panel-collapse collapse nav" role="tabpanel" aria-labelledby="collapse_tab_1">
                    <li><a id="tab_11" href="#admin_cred">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Credentials</a></li>
                    <li><a id="tab_12" href="#admin_trans">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Transitioning</a></li>
                  </ul>
              </li>
              <li class="li-info">
                  <a id="tab_2" href="#job">
                    <span class="glyphicon glyphicon-sunglasses"></span>&nbsp;&nbsp;Section #2: 
                    <br/>
                    <b>Admin Responsibility</b>
                    <span class="glyphicon pull-right glyphicon-triangle-bottom" data-toggle="collapse" data-parent="#accordion" href="#collapse_tab_2" aria-expanded="true" aria-controls="collapse_tab_2"></span>
                  </a>
                  <ul id="collapse_tab_2" class="panel-collapse collapse nav" role="tabpanel" aria-labelledby="collapse_tab_2">
                    <li><a id="tab_21" href="#job_meet">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Meeting Schedule</a></li>
                    <li><a id="tab_22" href="#job_new">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Member Management</a></li>
                    <li><a id="tab_23" href="#job_exp">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;External Site</a></li>
                    <li><a id="tab_24" href="#job_int">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;Internal Duty</a></li>
                    <li>
                      <a id="tab_25" href="#job_bot">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Bot Configuration</a>
                      <ul style="padding-left:60px;">
                        <li><a id="tab_251" href="#bot_duty">Duty Reminders</a></li>
                        <li><a id="tab_252" href="#bot_cache">Data Cache</a></li>
                        <li><a id="tab_253" href="#bot_backup">Backup</a></li>
                        <li><a id="tab_254" href="#bot_err">Error Report</a></li>
                      </ul>
                    </li>
                    <li><a id="tab_26" href="#job_csl">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;Server Maintenance</a></li>
                  </ul>
              </li>
              <li class="li-violet">
                  <a id="tab_3" href="#test_env">
                    <span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Section #3: 
                    <br/>
                    <b>Server Environment</b>
                    <span class="glyphicon pull-right glyphicon-triangle-bottom" data-toggle="collapse" data-parent="#accordion" href="#collapse_tab_3" aria-expanded="true" aria-controls="collapse_tab_3"></span>
                  </a>
                  <ul id="collapse_tab_3" class="panel-collapse collapse nav" role="tabpanel" aria-labelledby="collapse_tab_3">
                    <li><a id="tab_31" href="#test_basc">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-console"></span>&nbsp;&nbsp;Server Basics</a></li>
                    <li><a id="tab_32" href="#test_set">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-hourglass"></span>&nbsp;&nbsp;Test Server Setup</a></li>
                  </ul>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="pull-right col-lg-9 col-md-9 col-sm-12 col-xs-12" id="main">
      <div class="container-fluid li-orange" role="main">
        <div class="panel-orange" id="admin_setup">
          <div class="panel-heading">
            <span class="lead">
              <span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;<b><span class="sec">Section</span> <span class="num">#1</span>: New Admin Setup</b>
            </span>
          </div>
          <br/>
          <div class="row" id="admin_cred">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Credentials</h4>
              <ul>
                <li><span class="code code_misc">SSH Key</span> and <span class="code code_misc">SSL Certificates</span> are in the inbox of <span class="code code_val">daslab</span> <span class="code code_brand">Gmail</span> account.</li>
                <li><span class="code code_brand">MySQL</span>, <span class="code code_brand">Apache</span> and <span class="code code_brand">Gmail</span> account username and password are in <span class="code code_path">config/env.conf</span>.</li>
                <li><span class="code code_misc">Django</span> admin account username and password are the same as <span class="code code_brand">Apache</span>.</li>
              </ul>
            </div>
          </div>  
          <hr/> 
          <div class="row" id="admin_trans">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Transitioning</h4>
              <p>Use <span class="code code_cmd">ssh</span> to remotely access the server. Use <span class="code code_cmd">-i</span> to supply the <span class="code code_misc">SSH Key</span>: <span class="code code_cmd">ssh -i ~/amazon.pem ubuntu@52.25.214.40</span> (the server IP may differ).</p>
              <p>Please edit the following files to make you the new admin</p>
              <ul>
                <li><span class="code code_path">config/group.conf</span>: Add your <span class="code code_key">sunet_id</span> to the <span class="code code_val">ADMIN</span> group. File is space-delimited.</li>
                <li><span class="code code_path">config/env.conf</span>: Change <span class="code code_key">ADMIN_NAME</span> and <span class="code code_key">ADMIN_EMAIL</span> to you.</li>
                <li><span class="code code_path">config/oauth.conf</span>: Change <span class="code code_brand">Slack</span> <span class="code code_key">ADMIN_NAME</span> to your <span class="code code_brand">Slack</span> ID.</li>
              </ul>
              <p>You need to restart <span class="code code_brand">Apache</span> for changes to take effect. Simply run <span class="code code_cmd">a2rs</span> from commmand-line.</p>
              <p>You will also need to:</p>
              <ul>
                <li>Make yourself <b>Owner</b> of <span class="code code_val">das-lab</span> <span class="code code_brand">Google Groups</span>.</li>
                <li>Make yourself <b>Owner</b> of <span class="code code_url">https://github.com/DasLab/</span> <span class="code code_brand">GitHub</span> organization.</li>
                <li>Make yourself <b>Admin</b> of <span class="code code_val">das-lab</span> <span class="code code_brand">Slack</span> team. You may ask the previous admin or <kbd>@rhiju</kbd> to grant these permissions to you.</li>
                <li>Log in to <span class="code code_val">daslab</span> <span class="code code_brand">Gmail</span> account, and change email forwarding (<span class="code code_brand">AWS</span> billing and alert) options to you.</li>
              </ul>
            </div>
          </div>             
        </div>
      </div>

      <hr/>
      <div class="container-fluid li-info" role="main">
        <div class="panel-info" id="job">
          <div class="panel-heading">
            <span class="lead">
              <span class="glyphicon glyphicon-sunglasses"></span>&nbsp;&nbsp;<b><span class="sec">Section</span> <span class="num">#2</span>: Admin Responsibility</b>
            </span>
          </div>
          <br/>
          <div class="row" id="job_meet">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Meeting Schedules</h4>
              <br/>
              <p><b>Update <span class="code code_spe">Schedule Spreadsheet</span></b></p>
              <ul>
                <li>Edit the Spreadsheet weekly, usually on <i>Friday</i> after meeting. <b>Keep it up-to-date</b> since the <span class="code code_misc">Bot</span> uses it for sending reminders to upcoming presenters.</li>
                <li><b>Put the current one (this week) on the <u>first row</u> under header. Move the previous one (last week) to the <u>last row</u> of the "previous" section (very bottom).</b></li>
                <li>Mark <span class="code code_class">Eterna Special</span>, <span class="code code_class">Journal Club</span>, and <span class="code code_cmd">Group Meeting</span> following the convention, using tags of <span class="code code_brand">ES</span>, <span class="code code_key">GM</span>, <span class="code code_path">JC</span> and <span class="code code_method">N/A</span>.</li>
                <li>Paste <span class="code code_class">Flash Slides</span> <span class="code code_brand">Google Presentation</span> links to the first column. And YouTube url for <span class="code code_class">Eterna Special</span>.</li>
                <li>Always use non-abbreviated first-name to be compatible with <span class="code code_misc">Bot</span> name-matching.</li>
              </ul>
              <br/>
              <p><b><span class="code code_class">Flash Slides</span> Setup</b> (if <span class="code code_misc">Bot</span> fails)</p>
              <ul>
                <li>Create a new <span class="code code_brand">Google Presentation</span> with aspect ratio <u>4:3</u>. Edit the title in format of "<span class="code code_val">Flash Slides: mmm dd, yyyy</span>".</li>
                <li>Share the link to the entire <span class="code code_brand">Google Groups</span>. And transfer ownership to <span class="code code_val">daslab</span> <span class="code code_brand">Gmail</span> account.</li>
                <li>Add a new entry of <span class="code code_class">Flash Slides</span> to the database through <span class="code code_url">/admin/src/flashslide/</span>.</li>
                <li>Post the link and meeting reminder (manually) in <span class="code code_brand">Slack</span> <span class="code code_val">#general</span> channel.</li>
              </ul>
            </div>
          </div>  

          <hr/> 
          <div class="row" id="job_new">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Member Management</h4>
              <p>Follow these steps to onboard a new <span class="code code_class">Member</span> / <span class="code code_class">Rotation Student</span> / <span class="code code_cmd">Visitor</span>:</p>
              <ul>
                <li>Invite to join <span class="code code_val">das-lab</span> <span class="code code_brand">Slack</span> group and <span class="code code_brand">Google Groups</span>.</li>
                <li>Add his/her <span class="code code_key">sunet_id</span> to appropriate group in <span class="code code_path">config/group.conf</span>.</li>
                <li>Create <span class="code code_class">Member</span> entry in database through <span class="code code_url">/admin/src/member/</span>.</li>
                <li>Add to <span class="code code_url">https://github.com/DasLab/</span> <span class="code code_brand">GitHub</span> organization as <b>Member</b> if needed.</li>
              </ul>
              <p>Similary, when a member leaves, please remeber to:</p>
              <ul>
                <li>Revoke his/her <span class="code code_brand">Slack</span> access by disabling member in the team.</li>
                <li>Move his/her <span class="code code_key">sunet_id</span> to <span class="code code_val">ALUMNI</span> group in <span class="code code_path">config/group.conf</span>.</li>
                <li>Toggle <span class="code code_key">is_visible</span> and/or <span class="code code_key">is_alumni</span> flags of the <span class="code code_class">Member</span> entry.</li>
              </ul>
            </div>
          </div>  

          <hr/> 
          <div class="row" id="job_exp">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Maintaining Public Site</h4>
              <br/>
              <p><span class="code code_class">Member</span> <b>class</b></p>
              <ul>
                <li>For new members, fill in his/her basic information (name, department, year, <i>etc.</i>).</li>
                <li>Make sure the <span class="code code_key">sunet_id</span> is filled, otherwise the <span class="code code_val">Bot</span> cannot recognize for matches. Birthday information is only used for <span class="code code_brand">Slack</span> celebration messages.</li>
                <li>Please also include phone number and email address (use non-Stanford email since <span class="code code_key">sunet_id</span> tells Stanford email already). These are displayed only on <span class="code code_url">/group/contact/</span> page.</li>
                <li>Please also include a portrait (<u>120 x 160 pixels</u>) and <span class="code code_brand">CAP</span> profile link.</li>
                <li>The <span class="code code_key">is_alumni</span> and <span class="code code_key">is_visible</span> are flags for member category and display.</li>
              </ul>
              <br/>
              <p><span class="code code_class">News</span> <b>class</b></p>
              <ul>
                <li>Post a news item for upcoming <span class="code code_class">Eterna Special</span> with <span class="code code_brand">YouTube</span> channel link and video link.</li>
                <li>News content is HTML-enabled.</li>
              </ul>
              <br/>
              <p><span class="code code_class">Publication</span> <b>class</b></p>
              <ul>
                <li>Follow the convention for <span class="code code_key">title</span>, <span class="code code_key">author</span>, <span class="code code_key">journal</span>, <i>etc.</i>.</li>
                <li>The <span class="code code_key">display_time</span> is used to sort papers within the same year. Uncheck <span class="code code_key">is_visible</span> for entries that to hide from public site.</li>
                <li>Check <span class="code code_key">is_feature</span> for papers with accentuation. Also upload an image for display.</li>
                <br/>
                <li>For manuscripts ready as preview, create a new entry and check <span class="code code_key">is_preprint</span> and supply an link to <span class="code code_brand">bioRxiv</span>. Once released, remember to update the <span class="code code_key">issue</span>, <span class="code code_key">volume</span>, and <b>pages</b>.</li>
              </ul>
            </div>
          </div>  

          <hr/> 
          <div class="row" id="job_int">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;Maintaining Group Site</h4>
              <ul>
                <li>Post <span class="code code_class">News</span> for <span class="code code_class">Eterna Special</span> events.</li>
                <li>Add entries of <span class="code code_class">Journal Club</span>, <span class="code code_class">Eterna Special</span>, and <span class="code code_class">Rotation Student</span> to database when occurs.</li>
                <li>Add important <span class="code code_class">Presentation</span> to archive through <span class="code code_url">/admin/src/presentation/</span>.</li>
                <li>Maintain <span class="code code_spe">Duty Spreadsheet</span>.</li>
                <li>Watch out for <span class="code code_brand">Dropbox</span> annual subscription bill.</li>
              </ul>
            </div>
          </div>

          <hr/> 
          <div class="row" id="job_bot">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;<span class="code code_misc">Bot</span> Configurations</h4>
              <p><span class="code code_misc">Bot</span> is a set of <span class="code code_cmd">python</span> scripts that takes care of routine server tasks and communicate to admin and members through <span class="code code_brand">Slack</span>. All settings can be configured at <span class="code code_url">/admin/bot/</span>.</p>
              <br/>
              <p id="bot_duty"><b>Duty Reminders</b></p>
              <p>It sends reminders to corresponding recipients for the following lab duty based from <span class="code code_spe">Duty Spreadsheet</span>:</p>
              <ul>
                <li><b>Quarterly</b>: Lab outings, and <span class="code code_brand">Slack</span> / <span class="code code_brand">GitHub</span> maintenance.</li>
                <li><b>Monthly</b>: Birthday wishes, <span class="code code_brand">AWS</span> maintenance, website content maintenance, and meeting scheduling.</li>
                <li><b>Weekly</b>: Breakfast, Microphone setup for <span class="code code_class">Eterna Special</span>, <span class="code code_class">News</span> posting for <span class="code code_class">Eterna Special</span>.</li>
              </ul>
              <p>It sends <span class="code code_spe">Group Meeting Reminder</span> to <span class="code code_val">#general</span>.</p>
              <p>It sends individual reminders to presenters for:</p>
              <ul>
                <li>Upcoming <span class="code code_class">Journal Club</span>: announce paper of choice.</li>
                <li>Upcoming <span class="code code_class">Eterna Special</span>: announce title for posting.</li>
                <li>Upcoming <span class="code code_class">Rotation Student</span> presentation: send slides to admin.</li>
              </ul>
              <p>It sends reminders or messages to admin for:</p>
              <ul>
                <li>Status of system jobs: <span class="code code_cmd">backup</span>, <span class="code code_cmd">gdrive</span>, <span class="code code_cmd">report</span>, and <span class="code code_cmd">versions</span>.</li>
                <li>Upcoming <span class="code code_class">Journal Club</span>, <span class="code code_class">Eterna Special</span>, <span class="code code_class">Rotation Student</span> presentation: add to database.</li>
                <li>Error <span class="code code_misc">traceback</span>.</li>
              </ul>
              <p>It sends individual wishes on everyone's <u>birthday</u>.</p>
              <br/>
              <p id="bot_cache"><b>Data Cache</b></p>
              <p>The server caches analytics data from <span class="code code_brand">AWS CloudWatch</span>, <span class="code code_brand">Google Analytics</span>, <span class="code code_brand">GitHub</span> repositories, <span class="code code_brand">Slack</span> and <span class="code code_brand">Dropbox</span> activities. This is to reduce loading time for pages like <span class="code code_url">/group/aws/</span>.</p>
              <p>Caching has 3 intervals:</p>
              <ul>
                <li>Every <b>3</b> mintues: <span class="code code_brand">Slack</span> presence. Used in group home page <span class="code code_url">/group/</span>.</li>
                <li>Every <b>15</b> minutes: <span class="code code_brand">AWS CloudWatch</span> and <span class="code code_brand">Google Analytics</span>.</li>
                <li>Every <b>30</b> minutes: <span class="code code_brand">GitHub</span>, <span class="code code_brand">Slack</span>, <span class="code code_brand">Dropbox</span>, <span class="code code_spe">Schedule Spreadsheet</span>, <span class="code code_spe">Duty Spreadsheet</span> and <span class="code code_spe">Group Calendar</span>.</li>
              </ul>
              <p>Caching runs as <span class="code code_misc">cron</span> jobs.</p>
              <br/>
              <p id="bot_backup"><b>Backup</b></p>
              <p>The server handles backup weekly. Settings can be configured at <span class="code code_url">/admin/backup/</span>.</p>
              <p>Every week, it runs:</p>
              <ul>
                <li>Zip up <span class="code code_misc">static</span>files, <span class="code code_brand">MySQL</span>, <span class="code code_brand">Apache</span>, and local <span class="code code_path">config/</span> files.</li>
                <li>Upload most recent backup onto <span class="code code_val">daslab</span> <span class="code code_brand">Google Drive</span>.</li>
                <li>Clean up obsolete backup files in <span class="code code_brand">Google Drive</span>.</li>
              </ul>
              <br/>
              <p id="bot_err"><b>Error Report</b></p>
              <p>Server reports to admin for any runtime error it encounters, either through email or <span class="code code_brand">Slack</span>. If <span class="code code_key">IS_SLACK</span> is enabled, all messages can be found at <span class="code code_url">/admin/src/slackmessage/</span>. Messages that are older than <u>15</u> days are removed weekly.</p>
              <p>Important error messages are:</p>
              <ul>
                <li><span class="code code_class">Flash Slides</span> setup failure. Should be fixed right away.</li>
                <li>Duty or birthday message error.</li>
              </ul>
              <p>Some messages could be ignored:</p>
              <ul>
                <li>Cache failures that are due to vendor unavailability (e.g. <u>502</u> or <u>503</u> response, HTTP timeout; mostly seen from <span class="code code_brand">GitHub</span> and <span class="code code_brand">Slack</span>). If it fails reproducibly, you may need to investigate so that the caching results will be up-to-date.</li>
                <li>Success notes about <span class="code code_cmd">backup</span>, <i>etc.</i> tasks.</li>
              </ul>
            </div>
          </div>

          <hr/> 
          <div class="row" id="job_csl">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;Server Monitoring</h4>
              <ul>
                <li>Most of analytics, inclduing <span class="code code_brand">Apache</span>, <span class="code code_brand">AWS</span>, <span class="code code_brand">Google Analytics</span> and <span class="code code_brand">GitHub</span>, are available in admin console. No need to login at vendors to see statistics. Alternatively, you can login at vendor's using <span class="code code_val">daslab</span> <span class="code code_brand">Gmail</span> account.</li>
                <li>For server package upgrade, run <span class="code code_cmd">upd</span>, which is a shortcut that updates both <span class="code code_cmd">apt-get</span> and <span class="code code_cmd">pip</span>.</li>
                <li>To restart the server, use <span class="code code_cmd">sudo reboot</span>.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <hr/>
      <div class="container-fluid li-violet" role="main">
        <div class="panel-violet" id="test_env">
          <div class="panel-heading">
            <span class="lead">
              <span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;<b><span class="sec">Section</span> <span class="num">#3</span>: Server Environment</b>
            </span>
          </div>
          <br/>
          <div class="row" id="test_basc">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <p>Congratulations! You have made it so far. This section will get your hands dirty into server code setup.</p>
              <br/>
              <h4><span class="glyphicon glyphicon-console"></span>&nbsp;&nbsp;Server Basics</h4>
              <br/>
              <p>The server runs on <span class="code code_cmd">linux</span>(<span class="code code_brand">Ubuntu</span>) instance at <span class="code code_brand">AWS</span>. Information about <span class="code code_brand">AWS</span> is in <span class="code code_path">config/oauth.conf</span> under <span class="code code_key">AWS</span>.</p>
              <p><span class="code code_brand">Apache</span> is the reverse proxy that sits between <span class="code code_misc">Django</span> (the app) and outside world. It handles HTTP requests and spawns <span class="code code_cmd">python</span> processes. <span class="code code_misc">Django</span> is used for web framework. <span class="code code_brand">MySQL</span> is the database engine.</p>
              <p>The server uses Stanford <span class="code code_misc">WebAuth</span> module for access control. Thus members can login with their <span class="code code_key">sunet_id</span> instead of a separate login system. Access groups are defined in <span class="code code_path">config/group.conf</span>.</p>
              <br/>
              <p>When making changes to <span class="code code_misc">static</span> assets, including <span class="code code_spe">*.html</span>, <span class="code code_spe">*.css</span>, <span class="code code_spe">*.js</span>, <span class="code code_misc">images/pdf</span> files, as well as <span class="code code_brand">MySQL</span> database, you don't need to restart <span class="code code_brand">Apache</span>. Changes will be reflected upon browser refresh (sometimes browser cache may delay it).</p>
              <p>In contrary, when making changes to <span class="code code_misc">script</span> files, including <span class="code code_spe">*.py</span>, <span class="code code_spe">*.conf</span>, <span class="code code_spe">*.sh</span>, as well as <span class="code code_brand">Apache</span> settings, you have to restart <span class="code code_brand">Apache</span> to reflect changes. A quick way to do so is running <span class="code code_cmd">a2rs</span>, which is an alias for <span class="code code_cmd">sudo apache2ctl restart</span>.</p>
              <br/>
              <p><b>Server Downtime</b></p>
              <p>To mark the server as temporarily unavailable, change <span class="code code_key">IS_MAINTENANCE</span> to <span class="code code_val">true</span> in <span class="code code_path">config/t47_dev.py</span>. The server will still be running, but only returns status <u>503</u> for any requests.</p>
              <br/>
              <p><b>Shortcut Commands</b></p>
              <p>The following aliases are provided for you convenience:</p>
              <ul>
                <li><span class="code code_cmd">sync</span>: Updates server code from repository, makes it ready, and deploys.</li>
                <li><span class="code code_cmd">upd</span>: Updates installed packages.</li>
                <li>Other commands for checking logs, <span class="code code_misc">cron</span> jobs, and <span class="code code_misc">swap</span> memory. See <span class="code code_url">/admin/ref/</span> for more details.</li>
              </ul>
              <br/>
              <p><b><span class="code code_misc">Django</span> Commands</b></p>
              <p>The following <span class="code code_misc">Django</span> commands are available. Run them with <span class="code code_cmd">dj_man</span>, or in full-length, e.g. <span class="code code_cmd">python manage.py cache 15</span>.</p>
              <div class="row">
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                  <table class="table table-hover">
                    <tbody>
                      <tr><td><span class="code code_cmd">backup</span></td><td>Backs up <span class="code code_misc">static</span>files, <span class="code code_brand">MySQL</span>, <span class="code code_brand">Apache</span>, and local <span class="code code_path">config/</span> files into <span class="code code_path">backup/</span> folder.</td></tr>
                      <tr><td><span class="code code_cmd">bday</span></td><td>Checks if anyone's birthday is today and sends out wishes in <span class="code code_brand">Slack</span>.</td></tr>
                      <tr><td><span class="code code_cmd">cache</span></td><td>Caches analytics data into <span class="code code_path">cache/</span>. Accepts an interval argument for category, choose from: <span class="code code_val">3</span>, <span class="code code_val">15</span>, or <span class="code code_val">30</span>.</td></tr>
                      <tr><td><span class="code code_cmd">duty</span></td><td>Checks if any duty reminders should be sent out today. Accepts an interval argument for category, choose from: <span class="code code_val">week</span>, <span class="code code_val">month</span>, or <span class="code code_val">quarter</span>.</td></tr>
                      <tr><td><span class="code code_cmd">gdrive</span></td><td>Uploads most recent backup onto <span class="code code_val">daslab</span> <span class="code code_brand">Google Drive</span> and cleans up obsolete backup files.</td></tr>
                      <tr><td><span class="code code_cmd">meeting</span></td><td>Sets up <span class="code code_class">Flash Slides</span> and sends out <span class="code code_spe">Group Meeting Reminder</span>.</td></tr>
                      <tr><td><span class="code code_cmd">report</span></td><td>Sends <span class="code code_misc">cron</span> error report to admin if not <span class="code code_key">IS_SLACK</span>. Also compresses <span class="code code_misc">cron</span> log and cleans up old <span class="code code_class">Slack Messages</span>.</td></tr>
                      <tr><td><span class="code code_cmd">restore</span></td><td>Restores <span class="code code_misc">static</span>files, <span class="code code_brand">MySQL</span>, <span class="code code_brand">Apache</span>, and local <span class="code code_path">config/</span> files from local <span class="code code_path">backup/</span> files.</td></tr>
                      <tr><td><span class="code code_cmd">versions</span></td><td>Collects system installed package versions into <span class="code code_path">cache/stat_sys.json</span>. Accepts a flag argument for overriding <span class="code code_key">IS_VERSIONS</span> in <span class="code code_path">config/bot.conf</span>, chooses from: <span class="code code_val">0</span> or <span class="code code_val">1</span>.</td></tr>
                      <tr><td colspan="2" style="padding:0px;"></td></tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
              </div>
              <br/>
              <p><b>Environment Path</b></p>
              <div class="row">
                <div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
                <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                  <table class="table table-hover">
                    <tbody>
                      <tr><td>Repository</td><td><span class="code code_path">/home/ubuntu/Server_DasLab/</span></td></tr>
                      <tr><td><span class="code code_brand">Apache</span> settings</td><td><span class="code code_path">/etc/apache2/</span></td></tr>
                      <tr><td><span class="code code_misc">Kerberos</span> settings</td><td><span class="code code_path">/etc/krb5.*</span></td></tr>
                      <tr><td><span class="code code_brand">Apache</span> log</td><td><span class="code code_path">/var/log/apache2/</span></td></tr>
                      <tr><td><span class="code code_misc">Django</span> and <span class="code code_misc">cron</span> log</td><td><span class="code code_path">cache/</span></td></tr>
                      <tr><td><span class="code code_misc">static</span> files</td><td><span class="code code_path">data/</span></td></tr>
                      <tr><td>Secret / configurations</td><td><span class="code code_path">config/</span></td></tr>
                      <tr><td colspan="2" style="padding:0px;"></td></tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
              </div>
              </ul>
            </div>
          </div>

          <hr/>
          <div class="row" id="test_set">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-hourglass"></span>&nbsp;&nbsp;Test Server Setup</h4>
              <br/>
              <p>The following setup does not use <span class="code code_brand">Apache</span>, thus not including <span class="code code_misc">Kerberos</span> or <span class="code code_misc">WebAuth</span>. This means for your test server, any <span class="code code_url">/group/</span> page will be freely accessible, while any <span class="code code_url">/admin/</span> page requires <span class="code code_misc">Django</span>'s login.</p>
              <ul>
                <li>Follow <span class="code code_path">README.md</span> to install dependencies.</li>
                <li>Clone the repository from <span class="code code_url">https://github.com/DasLab/Server_DasLab.git</span>.</li>
                <li>Run <span class="code code_path">util_prep_dir.sh</span> to create necessary folders (empty).</li>
                <li>Copy backup files either from <span class="code code_brand">AWS</span> instance or from <span class="code code_val">daslab</span> <span class="code code_brand">Google Drive</span>. Then run <span class="code code_cmd">python manage.py restore</span> to unpack <span class="code code_misc">static</span> files and overwrite <span class="code code_brand">MySQL</span> database tables. You may need to manually create a <span class="code code_val">daslab</span> table in <span class="code code_brand">MySQL</span> first if not exists.</li>
                <li>Use <span class="code code_path">config/*.conf</span> files from the backup. Remember to edit <span class="code code_path">config/t47_dev.py</span> to set <span class="code code_key">IS_DEVEL</span> to <span class="code code_val">true</span> (turns on <span class="code code_key">DEBUG</span> mode).</li>
                <li>Start the test server with <span class="code code_cmd">python manage.py runserver</span>, and it should be listening at <span class="code code_url">localhost:8000/</span>. You may need to start <span class="code code_brand">MySQL</span> service first, by <span class="code code_cmd">mysql.server start</span>.</li>
              </ul>
              <br/>
              <p><b>Server Deployment</b></p>
              <p>To set up a new server for production, you need to complete the following steps besides the ones above. Most of the system requirements/settings are in the <span class="code code_path">config/sys/</span> folder in the backup files, which are handled by <span class="code code_path">util_sys_asset.sh</span>.</p>
              <ul>
                <li>Store <span class="code code_misc">SSL Certificate</span> on the server (currently at <span class="code code_path">/home/ubuntu/.ssl_cert/</span>). Use <span class="code code_cmd">aws iam</span> to register them to <span class="code code_brand">AWS</span> console. See <a href="http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/ssl-server-cert.html" target="_blank">here&nbsp;&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>.</li>
                <li>Overwrite <span class="code code_brand">Apache</span> settings from backup. See <span class="code code_url">/admin/ref/</span> for more explanations.</li>
                <li>Put <span class="code code_misc">Kerberos</span> files to path.</li>
                <li>Install <span class="code code_misc">django-filemanager</span>.</li>
                <li>Put <span class="code code_path">yuicompressor.jar</span> in the parent directory (used by <span class="code code_path">util_minify.sh</span>).</li>
                <li>Soft link <span class="code code_misc">gdrive</span> executable system-wide, and restore its settings (<span class="code code_path">/home/ubuntu/.drive/</span>).</li> 
                <li><i>(optional)</i> <span class="code code_cmd">bash</span> settings and others (e.g. <span class="code code_misc">dircolors</span>).</li>
                <br/>
                <li>Change <span class="code code_key">IS_DEVEL</span> to <span class="code code_val">false</span> in <span class="code code_path">config/t47_dev.py</span>.</li>
                <li>Run <span class="code code_path">util_minify.sh</span> and <span class="code code_path">util_chmod.sh</span> for preparing minified files and proper permissions.</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <a href="#main" id="top" style="z-index:2000;">
    <img style="position:fixed;display:block;left:-5%;bottom:100px;opacity:0.85;z-index:2000;" src="/site_media/images/nav_top_hover.png" name="top" height="60"/>
  </a>
</div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("ul.breadcrumb").append('<li class="active"><span style="color: #000;" class="glyphicon glyphicon-scale"></span>&nbsp;&nbsp;Manual</li>');
    });
  </script>
  <script type="text/javascript" src="/site_media/js/admin/{{DEBUG_DIR}}doc{{DEBUG_STR}}.js"></script>
{% endblock %}
