{% extends "media/html/_internal.html" %}
{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<p class="lead">These links are for internal use only.</p>
			<p><a href="/group/misc">Integration into the Lab&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<table class="table">
				<tbody>
					<tr>
						<td class="success"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;&nbsp;Up-to-date Links</td>
					</tr>
					<tr>
						<td class="danger"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>&nbsp;&nbsp;Obsolete Links</td>
					</tr>
					<tr><td colspan="1" style="padding: 0px;"></td></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 class="panel-title"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;Spreadsheets</h2>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr class="active">
								<th class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></th>
								<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Link</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;Oligo Database</td>
								<td class="success">
									<a href="https://docs.google.com/spreadsheets/d/1E_hkeGmQM1L-eWQW1g1YsM_uPovEHORIxV7iPpypMVo/edit#gid=0" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;&nbsp;Rack Organization</td>
								<td class="success">
									<a href="https://docs.google.com/spreadsheets/d/1QsC-otWCH6tqK0zq8wXFgUSw0IDF8iVzV8knnbLhZX0/edit#gid=0" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;&nbsp;Elim Order Form</td>
								<td class="success">
									<a href="https://docs.google.com/spreadsheets/d/1YmKR6yWDmH8cfraHY9Z7RsvURM_Sq2T9CaCvTRYfTyQ/edit#gid=0" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr><td colspan="2" style="padding: 0px;"></td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h2 class="panel-title"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;&nbsp;General</h2>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr class="active">
								<th class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></th>
								<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Link</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;&nbsp;Lab Contact</td>
								<td class="success">
									<a href="https://docs.google.com/spreadsheets/d/1GtJt5ZaxBH0RqnAcbD0J1yQeQsgF4BP-oIs-V29EYqo/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Lab Responsibility</td>
								<td class="success">
									<a href="https://docs.google.com/spreadsheets/d/1sQjOdZ0mA0HN41Trg_XFtfiuEpiICi2OSronNL2WbQU/edit#gid=0" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp;&nbsp;Copy Code</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1-ckr2gb90b2DhEQpcAqIrfQAMzuSieDEwA5u7-glFxI/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;&nbsp;How-to: Journal Club</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1-PLKuSxugLZcd6jxAEKWJCenacNlCfmiTIjbzx4HCVQ/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;How-to: Paper Draft</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1y2ziNCAr2y453AfDmRVlj2zfddcikKmdqY-KkrcWD5s/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;&nbsp;How-to: RNase Free</td>
								<td class="success">
									<a href="http://www.lifetechnologies.com/us/en/home/references/ambion-tech-support/nuclease-enzymes/general-articles/working-with-rna.html" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;(External Link)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>&nbsp;&nbsp;ChemTracker Inventory</td>
								<td class="success">
									<a href="https://docs.google.com/file/d/0BybrPR48VnX5OGpFT1lDQzV5ZUU/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr><td colspan="2" style="padding: 0px;"></td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-orange">
				<div class="panel-heading">
					<h2 class="panel-title"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;&nbsp;Misc</h2>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr class="active">
								<th class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></th>
								<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Link</th>
							</tr>
						</thead>
						<tbody>
							<tr class="warning"><td><b>Orders / Submission</b></td></tr>
							<tr>
								<td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;&nbsp;Order from IDT</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1UO2JzVkovBpitYOOvJ9hGnDo64M-wv3YxhlZozcz18Y/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;IDT Quotation for Das Lab #5085</td>
								<td class="success">
									<a href="https://docs.google.com/file/d/1COnJkDeVCarau8yE56sycuvO2iIJoULkfyo9ZSLzsPTFfXTd9iwe1X8jDjFU/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-record" aria-hidden="true"></span>&nbsp;&nbsp;
									Order from IDT through Smartmart
									<br/>
									<i>(note that this is slower and, I think, no cheaper than our usual quote)</i>
								</td>
								<td class="success">
									<a href="https://drive.google.com/file/d/0B-JqQv4cmKuRMTJiNDViZGEtZGI1Ny00NWNjLWFiZTEtYTE1ZjU5OTdlN2Jj/view" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>&nbsp;&nbsp;Elim Samples Submission</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1XHiWYR2yFpAP8ExNdacCWxazzTE60PmYmF1BDp799do/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>&nbsp;&nbsp;PAN Samples Submission</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1AxWrWv0jyri-eqBNvbQNKd-Wl34zYlEEWxGtVx0UaIw/edit?hl=en&authkey=CLfSweIP" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>	

							<tr class="warning"><td><b>Recipe</b></td></tr>
							<tr>
								<td><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>&nbsp;&nbsp;
									TexasRed Ladder
									<br/>
									<i>(deprecated -- use ROX350 standard)</i>
								</td>
								<td class="danger">
									<a href="https://docs.google.com/document/d/1WQfAjT-SPwTp-iiriSulXqni_rzvhhPp6FQtHl6rggo/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-baby-formula" aria-hidden="true"></span>&nbsp;&nbsp;Buffers</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1tDuONZHSKNLCE4_g5hkYkhovE08152qENeYlXW8ctbw/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>&nbsp;&nbsp;1M7 Synthesis</td>
								<td class="success">
									<a href="https://docs.google.com/file/d/0B18jYVjuz0BYcGk5UHdVckRWN1k/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-oil" aria-hidden="true"></span>&nbsp;&nbsp;Make Large Amounts of RNA</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1WhIV7XPXqUbTX56OgioT50SxYZxDLSvwAgf2qNPpH90/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>

							<tr class="warning"><td><b>Maintenance</b></td></tr>
							<tr>
								<td><span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;&nbsp;How-to: Poster Printing</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1Bf5XW8AcwNVmuY0U8qQpZGkSZE0hJyGb4FIITqa55H0/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;&nbsp;How-to: Flash Slides Setup</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1zWHDy8F49vIAbPsIsZb7tTpaWoG-W9E-8Kxvn02Swv4/edit?hl=en&authkey=CK2pzcMJ#" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;&nbsp;How-to: Pipette Repair with Biohit</td>
								<td class="success">
									<a href="https://docs.google.com/file/d/0B-JqQv4cmKuRdzYxclVFQ1BnSlU/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;ABI-3100 User Guide</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1e26T8Hvj_9F5JKdDlX-aTEn6euUEvoETknLUDHT6fEs/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-paste" aria-hidden="true"></span>&nbsp;&nbsp;ABI-3100 Maintenance Log</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1sNPu704aQZ2avE9QcyCBwj9Ec8KOWaXrMLtC6DKSQo4/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>

							<tr class="warning"><td><b>Hackathons</b> (July 2012: RNA MOHCA)</td></tr>
							<tr>
								<td><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>&nbsp;&nbsp;Online Notebook</td>
								<td class="success">
									<a href="https://drive.google.com/folderview?docId=0BxeGQAuSN7RCQTN2TjlYYUJwWUE&ddrp=1&id=0BxeGQAuSN7RCb1ZtSWxFNEhvODA#" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;&nbsp;Das Exp #47</td>
								<td class="success">
									<a href="https://docs.google.com/file/d/0B-JqQv4cmKuRckkycHlGNy1yS0U/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;&nbsp;Das Exp #48</td>
								<td class="success">
									<a href="https://docs.google.com/file/d/0B-JqQv4cmKuRN0hiTldDd1BLNTQ/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;&nbsp;Das Exp #49</td>
								<td class="success">
									<a href="https://docs.google.com/file/d/0B-JqQv4cmKuRcW1LOE14ZGkwN2c/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr><td colspan="2" style="padding: 0px;"></td></tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title"><span class="glyphicon glyphicon-random" aria-hidden="true"></span>&nbsp;&nbsp;Making DNA/RNA</h2>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr class="active">
								<th class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></th>
								<th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Link</th>
								<th class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;Order PCR Oligos Assembly</td>
								<td class="danger">
									<a href="https://docs.google.com/document/edit?id=1Ds8NCJau5nYv44mlO9NafPd8k25h8c4Hy8Sh2a-WQ5M&hl=en&authkey=CNL2l-IC" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td class="success">
									<a href="http://primerize.stanford.edu/protocol#temp_design" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;(Primerize)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;&nbsp;Order 96-Well Plates of DNA Oligos</td>
								<td class="danger">
									<a href="https://docs.google.com/document/d/1F7pqZT5JiRi0YgRCH7VgCpRzT-k5WwPm_xOQHyiwZa4/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td class="success">
									<a href="http://primerize.stanford.edu/protocol#idt_plate" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;(Primerize)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>&nbsp;&nbsp;Make and Purify DNA</td>
								<td class="danger">
									<a href="https://docs.google.com/document/d/1M1e8c4wvrp-9KsRbXImXoTmhNMfZ7kziCVfJfHeUK04/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td class="success">
									<a href="http://primerize.stanford.edu/protocol#PCR" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;(Primerize)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;&nbsp;Step-by-step DNA Assembly</td>
								<td class="danger">
									<a href="https://docs.google.com/document/edit?id=1Pj_UwdLqjbzD8DjCkhHJY7u0yMWJFs8Y7nsSdUS7B4E&hl=en&authkey=CNzIu_YE" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td class="success">
									<a href="http://primerize.stanford.edu/protocol#PCR_mr" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;(Primerize)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-random" aria-hidden="true"></span>&nbsp;&nbsp;Make and Purify RNA</td>
								<td class="danger">
									<a href="https://docs.google.com/document/d/1EuO7EYVylXnFK482EruLbqrl6x7MFqyUbfeW45sze_g/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td class="success">
									<a href="http://primerize.stanford.edu/protocol#TX" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;(Primerize)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;&nbsp;4% Agarose Gel</td>
								<td class="danger">
									<a href="https://docs.google.com/document/d/1Co9lxj_i6FWjm7r6C-rQyIF13u_cDBi4V7XH3ddKi0c/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td class="success">
									<a href="http://primerize.stanford.edu/protocol#TX_pr" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;(Primerize)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>&nbsp;&nbsp;NanoDrop</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1txUWC50byyard3yGQoM7J081ORimPJuiIlzHlzChEg8/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-bed" aria-hidden="true"></span>&nbsp;&nbsp;Denaturing PAGE</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1nWD9St_nR4BL-MQE9kKr6uNVhj6-s3HhR0FbgXXmthw/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>&nbsp;&nbsp;PAGE and UV Shadowing</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/19Ow7GKe6yjYC3Zs-sG4SExGlz0uJ92r2sjduoQP3gW8/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>&nbsp;&nbsp;
									Coupling DNA Primers to Fluorescent Dye
									<br/>
									(also consider using EndTag kit.)
								</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1M6FU6jx58ryYet00tajpzOWs3bB27NEaAlviNbvgCvc/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>&nbsp;&nbsp;RNA 5´ Fluorescent Labeling</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1Ba67UKXjIWmCMtaE_jnxq3yagPFzGdk3hIcM9-2iys8/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>&nbsp;&nbsp;RNA 3´ Fluorescent Labeling</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1y0VTErSjL3AGZvOGYa5_lGVAurPulOwHcEyry1zLqMo/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td></td>
							</tr>
							<tr><td colspan="3" style="padding: 0px;"></td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">
					<h2 class="panel-title"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>&nbsp;&nbsp;Mapping Experiment</h2>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr class="active">
								<th class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></th>
								<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Link</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;&nbsp;RNA Quality Check</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/17LfpIGKMZyXrbDqJHnKOcnkNcL2xJaY3vWBtsvkqP-Q/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;&nbsp;High-throughput Chemical Mapping</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1B59z9VqhIk7QJqsjpyeX6zewLT67FtVOr4MhNRDTVKE/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>&nbsp;&nbsp;MAP-Seq</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1opC0rVF0hQHBntmW0bTOpnUnvKNBMxEKVeuR2O6EsWU/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>&nbsp;&nbsp;Hydroxyl Radical Footprinting</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1pmQB6XnkfmJbxWBzXof6wuUZI6ufIi8BkIkAKObGGGA/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>&nbsp;&nbsp;Ethanol Precipitation</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1XkjymyRhr1oSfFeIUskBdRztWsjs2r4bMsH0Ud2WDAc/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>&nbsp;&nbsp;DNA Tail Ligation</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1BIYIB5_tRQ-ALb4A3Ftv7VDTS8r_wp5EmfH7_Zqb__Y/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>&nbsp;&nbsp;Chemical Mutagens</td>
								<td class="success">
									<a href="https://docs.google.com/spreadsheets/d/1Ij9PZTcVdMx8tvnLamxLnwMG0alaBMqv9Ry0ybxRBiY/edit#gid=28" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-erase" aria-hidden="true"></span>&nbsp;&nbsp;Fluorescent Primer Titration</td>
								<td class="success">
									<a href="https://drive.google.com/file/d/0B-JqQv4cmKuRZWY1MmJiYTAtOWYzMC00OGEyLWJkZjUtODcyMGJjYWJhNzE1/view" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;Elution Time Series</td>
								<td class="success">
									<a href="https://drive.google.com/file/d/0B-JqQv4cmKuRNzg5MWE0Y2QtNDYwNi00NmJjLWE5NjUtZTk2ZWM5ODBjOTQ2/view" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>&nbsp;&nbsp;Elution Buffer Comparison</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/15L15yM96yromf9bCzZLkzBI3ypoRecgFut01p5cIdDw/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp;&nbsp;SHAPE Reagent Comparison</td>
								<td class="success">
									<a href="https://docs.google.com/file/d/0B-JqQv4cmKuRZDdoOHRfQ1Z3eDA/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
							</tr>
							<tr><td colspan="2" style="padding: 0px;"></td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-violet">
				<div class="panel-heading">
					<h2 class="panel-title"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>&nbsp;&nbsp;Analysis and Modeling</h2>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr class="active">
								<th class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></th>
								<th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Link</th>
								<th class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>&nbsp;&nbsp;HiTRACE Pipeline</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/16e9LTpdDp-a7Puvx9pBCi68LSfwVfy7zDNZmoLr4M-g/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td><a target="_blank" disabled><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;(RMDB Future)</a></td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp;&nbsp;HiTRACE Color 2<sup>nd</sup> Structure Diagram</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/19zMWwFTCNUG1OIEy5qUdNGPx9RE5ZxE59GkezePQMK8/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td><a target="_blank" disabled><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;(RMDB Future)</a></td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;Pymol Color 3D Models</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1jQXl0er33LUILL8xjOwF4yDdmhgf23fOKq1MKES1E6I/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td><a target="_blank" disabled><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;(RMDB Future)</a></td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>&nbsp;&nbsp;Fragment Assembly</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1pjiTvXzRjtrUCylEOA8wZv5h_4dkoCZFhCBG6x0DIEI/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td></td>
							</tr>

							<tr>
								<td><span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span>&nbsp;&nbsp;PyRosetta</td>
								<td class="success">
									<a href="http://www.pyrosetta.org/" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;(External Link)</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span>&nbsp;&nbsp;CS-Rosetta</td>
								<td class="success">
									<a href="https://drive.google.com/file/d/0BybrPR48VnX5NjY1YmEwYWQtZjZlZi00Y2E1LWI4NWMtODkwMTIxODIwZGFk/view" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>&nbsp;&nbsp;Step-wise Modeling</td>
								<td class="success">
									<a href="https://docs.google.com/document/d/1mirkfOZEFz-qc9AYRyGKMZHlC39pUvYpWY0zf9Q4Lgo/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp;&nbsp;How-to: Run Job on XSEDE</td>
								<td class="success">
									<a href="https://docs.google.com/file/d/0By0BpYZBGuK-TGJrenZsSGZrOGs/edit" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;(Google Doc)</a>
								</td>
								<td></td>
							</tr>
							<tr><td colspan="3" style="padding: 0px;"></td></tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}


{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.dropdown-toggle').removeClass("active");
			$("ul.breadcrumb").append('<li class="active"><img src="/site_media/images/icons/gdrive.png" height="21px" style="vertical-align:text-top;">&nbsp;&nbsp;Google Documents</li>');
			$('#top').on('click', function () {
				$('html, body').stop().animate({scrollTop: $("#main").offset().top - 75}, 500);
			});

		});
	</script>

{% endblock %}