{% extends "media/html/_internal.html" %}
{% block content %}
<div class="col-md-12">
	<div class="jumbotron" id="jumbotron">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href="/group">
					<img src="/site_media/images/nav_group.gif" style="max-width:100%;" class="center-block"/>
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<table class="table">
				<thead>
					<tr class="warning">
						<th class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="/site_media/images/icons/slack.png" height="14px" style="vertical-align:text-top;">&nbsp;&nbsp;Slack Status</th>
						<th class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></th>
					</tr>
				</thead>
				<tbody id="table_slack_user">
					<tr><td colspan="2" class="place_holder"></td></tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="/site_media/js/group/home.js"></script> 
	<script type="text/javascript">
		$(document).ready(function() {

		});
	</script>

{% endblock %}

