{% extends "media/html/_internal.html" %}
{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<button class="btn btn-warning" id="btn_toggle"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Toggle View</button>
			&nbsp;&nbsp;<span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;<span id="label_timeline">Timeline</span>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;<span id="label_table">Table</span>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>

	<div class="row" id="toggle_timeline">
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
		    <ul class="timeline">
				{% for gp in jc_list %}
		        <li {% if forloop.counter|divisibleby:2 %} class="timeline-inverted" {% endif %}>
					<div class="timeline-badge timeline-{{gp.label}}"><span class="glyphicon glyphicon-book"></span></div>
					{% if gp.year_start %}
					<div class="timeline-year">{{gp.date.year}}</div>
					{% endif %}
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">
								<a href="{{gp.link}}" target="_blank">{{gp.title}}&nbsp;&nbsp;<span class="glyphicon glyphicon-new-window" style="font-size:14px;"></span></a>
							</h4>
						</div>
						<div class="timeline-body">
							<p>
								<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<b>{{gp.presenter}}</b>
								<span class="pull-right"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;<i>{{gp.date|date:"b d Y"|title}}</i></span>
							</p>
						</div>
					</div>
		        </li>
				{% endfor %}
		    </ul>
		</div>
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	</div>

	<div class="row" id="toggle_table">
		<br/>
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
			<table class="table table-hover">
				<thead>
					<tr class="active">
						<th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Date</th>
						<th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Presenter</th>
						<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Title</th>
						<th class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Citation</th>
						<th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Link</th>
					</tr>
				</thead>
				<tbody>
				{% for gp in jc_list %}
					<tr {% if forloop.counter|divisibleby:2 %} class="active" {% endif %}>
						<td><i>{{gp.date|date:"b d Y"|title}}</i></td>
						<td><b>{{gp.presenter}}</b></td>
						<td><u>{{gp.title}}</u></td>
						<td>{{gp.authors}} <i>et al.</i> (<b>{{gp.year}}</b>) <i>{{gp.citation}}</i></td>
						<td><a href="{{gp.link}}" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></td>
					</tr>
				{% endfor %}
					<tr><td colspan="5" style="padding: 0px;"></td></tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div>
{% endblock %}
