{% extends "media/html/_internal.html" %}
{% block content %}
<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<!-- <iframe src="https://www.google.com/calendar/embed?src=a53lhn4i0fgrkcs9c6i85fdmdo%40group.calendar.google.com&ctz=America/Los_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="auto" seamless="true" id="iframe" class="well center-block"></iframe> -->
			<div id="calendar" style="padding:10px;" class="place_holder"></div>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<p class="lead">Legend</p>
			<span class="label label-success">GREEN</span> <span class="pull-right">All-day Events</span>
			<br/>
			<span class="label label-primary">BLUE</span> <span class="pull-right">Time-span Events</span>
			<br/>
			<span class="label label-danger">RED</span> <span class="pull-right">Group Meeting Recurrence</span>
			<br/>
			<span class="label label-violet">VIOLET</span> <span class="pull-right">Member Birthdays</span>
			<br/>
		</div>
		<div class="col-md-1"><b>Note:</b></div>
		<div class="col-md-7">
			This page is using custom rendering library <code>fullcalendar.js</code> for the calendar view instead of Google Caldendar <code>&lt;iframe&gt;</code> embedding.
			<br/>
			This is a work-around for making the calendar contents <kbd>public</kbd>, which would be searchable by anyone via Google.
			<br/>
			Our Lab calendar is still <kbd>private</kbd>. This page is for viewing only.
		</div>
	</div>
	<br/>
</div>
{% endblock %}


{% block script %}
	<link rel="stylesheet" type="text/css" href="/site_media/css/fullcalendar.min.css" media="all">
	<script type="text/javascript">
		if (isCDN) {
			document.write('<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/' + ver_moment + '/moment.min.js"><\/script>');
			document.write('<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/' + ver_fullcal + '/fullcalendar.min.js"><\/script>');
		} else {
			document.write('<script type="text/javascript" src="/site_media/js/moment.min.js"><\/script>');
			document.write('<script type="text/javascript" src="/site_media/js/fullcalendar.min.js"><\/script>');		
		}
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('.dropdown-toggle').removeClass("active");
			$("ul.breadcrumb").append('<li class="active"><span style="color: #000;" class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;<a href="https://www.google.com/calendar/embed?src=a53lhn4i0fgrkcs9c6i85fdmdo%40group.calendar.google.com&ctz=America/Los_Angeles" target="_blank">Google Calendar&nbsp;&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>');

			$.ajax({
				url : "/admin/gcal",
				dataType: "json",
				success : function (data) {
					$('#calendar').fullCalendar({ 
						events: data,
						timeFormat: ' h:mmt \n'
					});
					$("#calendar").removeClass("place_holder");
		
					$(".fc-today").css({"background-color": "#000", "color": "#fef159", "font-weight": "bold"});
					$("th.fc-day-header").css({"background-color": "#ddd", "padding": "10px"});
					$("button.fc-prev-button").removeClass("fc-button fc-state-default fc-corner-left fc-corner-right").addClass("btn btn-blue").html('<span class="glyphicon glyphicon-backward"></span>&nbsp;');
					$("button.fc-next-button").removeClass("fc-button fc-state-default fc-corner-left fc-corner-right").addClass("btn btn-blue").html('&nbsp;<span class="glyphicon glyphicon-forward"></span>');
					$("button.fc-today-button").removeClass("fc-button fc-state-default fc-corner-left fc-corner-right").addClass("btn btn-inverse").html('<span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbspToday');

					$(".fc-prev-button, .fc-next-button, .fc-today-button").bind("click", function() {
						$(".fc-today").css({"background-color": "#000", "color": "#fef159", "font-weight": "bold"});
						$("th.fc-day-header").css({"background-color": "#ddd", "padding": "10px"});
					});
				}
			});
		});
	</script>

{% endblock %}

