{% extends "media/html/_internal.html" %}
{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3><span class="label label-default">Overview</span></h3>
			<table class="table table-hover">
				<thead>
					<tr class="active">
						<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">EC2: Elastic Compute Cloud</th>
						<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">ELB: Elastic Load Balancing</th>
						<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">EBS: Elastic Bloack Store</th>
					</tr>
				</thead>
				<tbody id="aws_table_body">
					<tr><td colspan="3" class="place_holder"></td></tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3><span class="label label-dark-red">EC2: Elastic Compute Cloud</span></h3>
			<div class="thumbnail place_holder" style="padding:20px 40px;" id="aws_ec2_body"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3><span class="label label-teal">ELB: Elastic Load Balancing</span></h3>
			<div class="thumbnail place_holder" style="padding:20px 40px;" id="aws_elb_body"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3><span class="label label-dark-blue">EBS: Elastic Block Store</span></h3>
			<div class="thumbnail place_holder" style="padding:20px 40px;" id="aws_ebs_body"></div>
		</div>
	</div>
</div>
{% endblock %}
