{% extends "media/html/_internal.html" %}
{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
			<table class="table table-hover" style="margin-bottom: 0px;">
				<thead>
					<tr class="active">
						<th class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></th>
						<th class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><span class="glyphicon glyphicon-fullscreen"></span>&nbsp;&nbsp;# (Active | Other)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Members</td>
						<td id="id_user_num">
			                <div class="progress" style="margin-bottom: 0px;">
			                  <div class="progress-bar progress-bar-success"></div>
			                  <div class="progress-bar progress-bar-danger"></div>
			                </div>
						</td>
					</tr>
					<tr>
						<td><span class="glyphicon glyphicon-headphones"></span>&nbsp;&nbsp;Channels</td>
						<td id="id_channel_num">
			                <div class="progress" style="margin-bottom: 0px;">
			                  <div class="progress-bar progress-bar-success"></div>
			                  <div class="progress-bar progress-bar-danger"></div>
			                </div>
						</td>
					</tr>
					<tr><td colspan="2" style="padding: 0px;"></td></tr>
				</tbody>
			</table>
			<table class="table table-hover">
				<thead>
					<tr class="active">
						<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></th>
						<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<span class="pull-right">
								<span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;# of Files&nbsp;&nbsp;
							</span>
						</th>
						<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<span class="pull-right">
								<span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;Size&nbsp;&nbsp;&nbsp;&nbsp;
							</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;Files</td>
						<td id="num_file"></td>
						<td id="size_file"></td>
					</tr>
					<tr><td colspan="3" style="padding: 0px;"></td></tr>
				</tbody>
			</table>

			<table class="table table-hover">
				<thead>
					<tr class="active">
						<th class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
							<span class="pull-right">
								<span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;ID&nbsp;&nbsp;
							</span>
						</th>
						<th class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Member</th>
					</tr>
				</thead>
				<tbody id="table_slack_user">
					<tr><td colspan="2" class="place_holder"></td></tr>
				</tbody>
			</table>

			<table class="table table-hover" style="margin-bottom: 0px;">
				<thead>
					<tr class="active">
						<th class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;Type</th>
						<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<span class="pull-right">
								<span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;# of Files&nbsp;&nbsp;
							</span>
						</th>
						<th class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
							<span class="pull-right">
								<span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;Size&nbsp;&nbsp;&nbsp;&nbsp;
							</span>
						</th>
					</tr>
				</thead>
				<tbody id="table_slack_file">
					<tr><td colspan="3" class="place_holder"></td></tr>
				</tbody>
			</table>
		</div>

		<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
			<h4><span class="label label-warning">Messages Activity</span></h4>
			<div id="plot_slack_msgs" class="thumbnail place_holder" style="padding:0px 20px; height: 120px;"></div>
			<h4><span class="label label-warning">Files Activity</span></h4>
			<div id="plot_slack_files" class="thumbnail place_holder" style="padding:0px 20px; height: 120px;"></div>

			<table class="table table-hover">
				<thead>
					<tr class="active">
						<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<span class="pull-right">
								<span class="glyphicon glyphicon-headphones"></span>&nbsp;&nbsp;Channel&nbsp;&nbsp;&nbsp;&nbsp;
							</span>
						</th>
						<th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;# of <br/>Members</th>
						<th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;# of <br/>Messages</th>
						<th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;# of <br/>Files</th>
						<th class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;Last Activity</th>
					</tr>
				</thead>
				<tbody id="table_slack_channel">
					<tr><td colspan="5" class="place_holder"></td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
