{% extends "media/html/_external.html" %}

{% block header %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#main").addClass("DASpwd");
      $("#nav-home").addClass("active");
    });
  </script>
{% endblock %}

{% block content %}
<div class="text-center BODY-ERR">
	<form enctype="multipart/form-data" action="/password/" method="post">
		{% csrf_token %}
		<div class="bgimg2-lg center-block text-center">
			<h2 class="center-block text-center"><span class="label label-teal">AUTHORIZATION REQUIRED</span></h2>
			<b>
	  			<p style="padding-top:10px;" class="center-block text-center">Please enter you current password for validation. Also type in your desired new password.</p>
	  		</b>
            <div class="form-group center-block" style="margin-bottom:0px;">
            	<p style="margin-top:25px;">
					<div class="input-group" style="left:300px;">
						<span class="input-group-addon" style="color:#000;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
		                <input class="form-control" type="text" id="username" name="username" value="{{user}}" style="width: 220px; display:inline-block;" disabled/>
		            </div>
	            </p>
                <p>
					<div class="input-group" style="left:300px;">
						<span class="input-group-addon" style="color:#000;"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span>
	                    <input class="form-control" type="password" id="password_old" name="password_old" placeholder="Current Password" style="width: 220px; display:inline-block;"/>
	                </div>
                </p>
                <p>
					<div class="input-group" style="left:300px;">
						<span class="input-group-addon" style="color:#000;"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></span>
	                   <input class="form-control" type="password" id="password_new" name="password_new" placeholder="New Password" style="width: 220px; display:inline-block;"/>
	               </div>
                </p>
                <p>
					<div class="input-group" style="left:300px;">
						<span class="input-group-addon" style="color:#000;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
	                   <input class="form-control" type="password" id="password_new_rep" name="password_new_rep" placeholder="Repeat New Password" style="width: 220px; display:inline-block;"/>
	               </div>
                </p>
                <br/>
                <p>
					{% if notices %}
					<button type="button" class="btn btn-success" onclick="location.href='/group'">&nbsp;&nbsp;Sign In&nbsp;&nbsp;</button>
					{% else %}
					<input type="submit" value="&nbsp;&nbsp;Change&nbsp;&nbsp;" class="btn btn-inverse clickable"/>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-default" onclick="location.href='/group'">&nbsp;&nbsp;Cancel&nbsp;&nbsp;</button>
					{% endif %}
				</p>
            </div>
		</div>

		{% if messages %}
		<div class="center-block text-center">
            <div class="form-group center-block" style="margin-bottom:0px; width: 640px;">
				<br/>
                <div class="alert alert-danger center-block" role="alert" style="margin: 0px 15px;">
                    <p>
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                        <b>ERROR</b>: The following messages were produced:
                    </p>
                    <p>{{ messages }}</p>
                </div>
			</div>
		</div>
		{% endif %}
		{% if notices %}
		<div class="center-block text-center">
            <div class="form-group center-block" style="margin-bottom:0px; width: 640px;">
				<br/>
                <div class="alert alert-warning" role="alert">
                    <p>
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                        <b>SUCCESS</b>: The following messages were produced:
                    </p>
                    <p>{{ notices }}</p>
                </div>
			</div>
		</div>
		{% endif %}
	</form>
</div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(document).ready(function () {
		{% if messages or notices %}
		$("#DasFOOTER").css({"top": "573px", "display": "inline"});
		$("#DasICON").css({"top": "628px", "display": "inline"});
		{% else %}
		$("#DasFOOTER").css({"top": "483px", "display": "inline"});
		$("#DasICON").css({"top": "538px", "display": "inline"});
		{% endif %}
    });
  </script>
{% endblock %}


