{% extends "media/html/_internal.html" %}
{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="flash_list">
	{% for ppt in flash_list %}
		{% if ppt.year_start %}
		<div class="subpanel">
			<div id="heading{{ppt.date.year}}" role="tab" data-toggle="collapse" data-parent="#category{{ppt.date.year}}" href="#{{ppt.date.year}}" aria-expanded="true" aria-controls="{{ppt.date.year}}" style="color:#ddd;">
				<span class="icon glyphicon glyphicon-chevron-left pull-right" style="font-weight:bold; font-size:36px; padding-top:40px;"></span>&nbsp;&nbsp;
				<span style="font-weight:bold; font-size:96px;">{{ppt.date.year}}</span>
			</div>
			<div id="{{ppt.date.year}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ppt.date.year}}">
				<div class="row">
		{% endif %}

			{% if ppt.month_start %}
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
						<div class="panel panel-{{ppt.label}} month">
			            	<div class="panel-heading">
			            		<h3 class="panel-title"><b>{{ppt.date|date:"F"}}</b></h3>
			            	</div>
			            	<div class="well" style="border-top-left-radius:0px; border-top-right-radius:0px; border-top:0px;">
			{% endif %}

								<p class="center-block text-center">
									<a href="{{ppt.link}}" target="_blank">
										{{ppt.date|date:"b d"|title}}<sup>{{ppt.date|date:"S"}}</sup>
										<i>{{ppt.date|date:"(D)"|title}}</i>
									</a>
								</p>

			{% if ppt.month_end %}
							</div>
			            </div>
			        </div>
			{% endif %}

			{% if ppt.year_end %}
				</div>
			</div>
		</div>
			{% endif %}
	{% endfor %}
	</div>
</div>
{% endblock %}
