{% extends "media/html/_framework.html" %}

{% block header %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#main").addClass("DAShome");
      $("#nav-home").addClass("active");
    });
  </script>
{% endblock %}

{% block content %}
  <div id="DasBANNER" class="fix">
    <div id="researchBTN" class="fix">
      <a id="btn_research" href="/research">
        <img src="/site_media/images/btn_research.png" width="53" height="201" border="0">
      </a>
    </div>
    <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1022" height="355" style="visibility: inherit;">
      <param name="movie" value="/site_media/swf/home.swf">
      <param name="quality" value="high">
      <param name="wmode" value="opaque">
      <param name="swfversion" value="6.0.65.0">
      <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
      <param name="expressinstall" value="/site_media/swf/install.swf">
      <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
      <!--[if !IE]>-->
      <object type="application/x-shockwave-flash" data="/site_media/swf/home.swf" width="1022" height="355">
        <!--<![endif]-->
        <param name="quality" value="high">
        <param name="wmode" value="opaque">
        <param name="swfversion" value="6.0.65.0">
        <param name="expressinstall" value="/site_media/swf/install.swf">
        <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
        <div>
      	  <img src="/site_media/images/home/logo_home.png" width="1022" border="0">
        </div>
      </object>
    </object>
  </div>

  <div class="researchH2 fix" id="divisionBar"><img src="/site_media/images/footer_home.png" width="855" height="38"></div>
  <div id="whatWeDo" class="fix"><img src="/site_media/images/home/what_we_do.png" width="119" height="70"></div>
  <div id="weStrive" class="fix"><img src="/site_media/images/home/home_text_2.png" width="207" height="95"></div>
  <div class="TEXT homeTEXT fix" id="homeTEXT">
    Our lab seeks an agile and predictive understanding of RNAs code for information processing and replication in living systems. We are creating new computational and chemical tools to enable the precise modeling and design of these RNAs.
  </div>

{% endblock %}


{% block script %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#DasICON").css({"top": "673px", "display": "inline"});
      $("#DasFOOTER").css("display", "none");
      
      $("#btn_research").hover(function () {
        $(this).children().attr("src", "/site_media/images/btn_research_hover.png");
      }, function () {
        $(this).children().attr("src", "/site_media/images/btn_research.png");
      });
    });
  </script>

  <script src="/site_media/js/swfobject.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    swfobject.registerObject("FlashID");
  </script>
  <style type="text/css" media="screen">#FlashID {visibility:hidden}</style>

{% endblock %}

