{% extends "media/html/_internal.html" %}
{% block content %}
<div class="starter-template">
	<div class="container">

		<div class="panel panel-teal">
			<div class="panel-heading">
				<h2 class="panel-title"><span class="glyphicon glyphicon-tent" aria-hidden="true"></span>&nbsp;&nbsp;Integration into the Lab
</h2>
			</div>
			<div class="panel-body" id="main">
				<div class="row">
					<div class="col-md-12">
						<p class="lead">Congrats, you've made it this far.</p>
						<br/>
						<h4>Getting into the Google Group</h4>
						<p>The Das lab has a <a href="http://groups.google.com/group/das-lab" target="_blank">Google Group&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>. The best way to join is to ask Pablo or Clarence for access. This will give you access to all of the documents, protocols, presentations, and the calendar. Also, you'll automatically be signed up for lab e-mails.</p>

						<br/>
						<h5>Getting Printer Access</h5>
						<p>There are three main printers that you can use:</p>
						<ul>
							<li>
								Printer in room B417
								<br/>
								IP Address: 171.65.27.198 (Black and White, Duplex)
							</li>
							<li>
								Printers in 4th floor lobby
								<br/>
								IP Address: 171.65.26.130 (Color, Duplex)
								<br/>
								IP Address: 171.65.25.184 (Black and White, Single-Sided)
							</li>
						</ul>
						<br/>

						<h5>Non-obvious Lab Convention (Rhiju's Note)</h5>
						<p>Try to come in for a couple hours each weekday. Even if you're swamped with homework or writing a paper or focused on some computational work that you could in principle do at home... do some of it in lab. It makes a big difference to lab morale!</p>
						<br/>

						<h5>Contact Info</h5>
						<p>We're responsible for your safety now -- please give your contact phone number to our lab RA, Ann Kladwang.</p>
						<br/>

						<h5>Meetings</h5>
						<p>We have group meetings once a week. Currently, it's held on Fridays from 11 am to 1 pm, but the time may be changed each quarter to make sure everyone can attend -- please ask Siqi Tian for the most up-to-date weekly meeting time.</p>
						<p>Every week, group meeting consists of a round of flash slides (see below), followed by a research presentation or journal club (usually 45 min to 1 hour), given by a lab member. Rotation students are expected to give one flash slide a week; they are not required to give research talks or journal club, except for an end-of-rotation 30-minute presentation.</p>
						<p>We also have subgroup meetings for the experimental and computational halves of the lab (see below). These meetings are held on Fridays from 1 pm to 2 pm after group meeting, alternating between experimental and computational subgroup.</p>

						<b><u>Flash Slides</u></b>
						<p>Every week, you have a chance to share with your labmates all of the cool things you did this week! However, there is a catch... You only have 1 slide to summarize what you think was the piece of work that you most cherish this week (at a cost of $1 to the lab snack fund per additional slide).</p>
						<p>We keep links to current and old Flash Slide Google Presentations on the <a href="http://groups.google.com/group/das-lab" target="_blank">this page&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>. You can either prepare your slide there or upload a *.ppt via Insert --> Import Slides... Remember to check some of the formatting after uploading.</p>

						<b><u>Journal Club</u></b>
						<p>To attenders of our lab's journal club -- you'll get a lot more out of the presentation if you take 10-20 minutes ahead of time to read the paper and write down two or three questions/comments at the top of your printout. That's a lot of bang for the buck (a few minutes ahead of time enhances your hour a lot), and this is the basic expectation. For those preparing journal club, a protocol is here.</p>

						<b><u>Subgroup Meetings</u></b>
						<p>Subgroup meetings are used for lab members to discuss their recent work in more detail than is allowed by weekly flash slides. You should come with printouts of your results, as well as problems that you're facing and proposed solutions or next steps, so your fellow experimentalists/computational lab members and Rhiju can be up to date on your project.</p>
						<br/>

						<h5>Getting Started Scientifically</h5>
						<b><u>Experimental</b></u>
						<p>We'll get you a bench, and you'll learn side-by-side from one of us how to make molecules, chemically probe them, etc. The main thing that is different in our lab from most is that we are very paranoid about remaining RNAse free -- no bare skin touches our tubes, we use working aliquots of all our reagents to prevent contaminating stocks, and there are several more tricks we use. Any of the experimentalists in the lab (Ann, Clarence, Siqi, Pablo, or Rhiju) can give you the full rundown, but always feel free to ask!</p>

						<b><u>MATLAB</u></b>
						<p>MATLAB is used for almost all of our analysis scripts, so you should get it by any means possible. The best option is probably <a href="http://cmgm.stanford.edu/" target="_blank">CMGM&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>. If you're using a PC, here is the <a href="https://cmgm3.stanford.edu/computing/setup/keyserver/pcsw.html" target="_blank">site&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> you want to go to.</p>
						<p>We have a repository with all of our MATLAB scripts on Simtk.org via <a href="https://simtk.org/home/rdat" target="_blank">https://simtk.org/home/rdat&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>. To access Simtk, you will need to get an account.</p>
						<p>To take advantage of the repository, you will need to get an SVN. Windows users should look into <a href="http://tortoisesvn.tigris.org/" target="_blank">TortoiseSVN&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>. Checkout from <a href="https://simtk.org/home/rdat" target="_blank">https://simtk.org/home/rdat&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>. HiTRACE has been moved to GitHub, so you'll need to get it from there.</p>

						<b><u>Computational</u></b>
						<br/>
						<b>UNIX</b>
						<p>If you have a Mac, you're good. If you have a PC, you'll want to get Linux installed; we have the UBUNTU disks around, and Kyle and Parin have learned how to install it.</p>
						<br/>

						<i>Sign up for biox2:</i>
						<br/>
						Go to <a href="http://biox2.stanford.edu/" target="_blank">http://biox2.stanford.edu/&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
						<br/>
						From there you should fill out the user application form. Your sponsor should be Rhiju Das
						<br/>
						Rhiju will receive an email regarding your application and with a click of button you should have access!
						<br/><br/>

						<i>Getting into Bio-X</i>: follow these instructions
						<br/>
						<a href="https://biox2.stanford.edu/doc/wiki/FirewallAccess" target="_blank">https://biox2.stanford.edu/doc/wiki/FirewallAccess&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
						<br/><br/>

						Mac users note -- there is an application available (biox2-login) that automates all of the above steps. Find it on the biox2 webpage!



					</div>
				</div>
			</div>
		</div>


	</div>
</div>
{% endblock %}


{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.dropdown-toggle').removeClass("active");
			$("#nav_misc").addClass("active");
	    	$("#nav_logo").css("text-decoration","none");
		});
	</script>

{% endblock %}