{% extends "media/html/_internal.html" %}
{% block content %}
<div class="starter-template">
	<div class="container">
		<h3>
			&nbsp;&nbsp;Google Calendar: 
			<span class="lead">
				<a href="https://www.google.com/calendar/embed?src=a53lhn4i0fgrkcs9c6i85fdmdo%40group.calendar.google.com&ctz=America/Los_Angeles" target="_blank">Das Lab Calendar&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
			</span>
		</h3>
		<br/>
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h2 class="panel-title"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;&nbsp;Google Group Calendar</h2>
			</div>
			<div class="panel-body" id="main">
				<div class="row">
					<div class="col-md-12">
						<!-- <iframe src="https://www.google.com/calendar/embed?src=a53lhn4i0fgrkcs9c6i85fdmdo%40group.calendar.google.com&ctz=America/Los_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="auto" seamless="true" id="iframe" class="well center-block"></iframe> -->
						<div id="calendar" style="padding:10px;" class="place_holder"></div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
{% endblock %}


{% block script %}
	<link rel="stylesheet" type="text/css" href="/site_media/css/fullcalendar.min.css" media="all">
	<script type="text/javascript" src="/site_media/js/moment.min.js"></script>
	<script type="text/javascript" src="/site_media/js/fullcalendar.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('.dropdown-toggle').removeClass("active");
			$("#nav_calendar").addClass("active");
			$("#nav_logo").css("text-decoration","none");
		// $("#iframe").css("width", parseInt($("#main").css("width")) - 50);

			$.ajax({
				url : "/admin/gcal",
				dataType: "json",
				success : function (data) {
					$('#calendar').fullCalendar({ events: data });
					$("#calendar").removeClass("place_holder");
		
					$(".fc-today").css({"background-color": "#fec78a", "color": "#ff5c2b", "font-weight": "bold"});
					$("th.fc-day-header").css({"background-color": "#ddd", "padding": "10px"});
					$("button.fc-prev-button").removeClass("fc-button fc-state-default fc-corner-left fc-corner-right").addClass("btn btn-blue").html('<span class="glyphicon glyphicon-backward"></span>&nbsp;');
					$("button.fc-next-button").removeClass("fc-button fc-state-default fc-corner-left fc-corner-right").addClass("btn btn-blue").html('&nbsp;<span class="glyphicon glyphicon-forward"></span>');
					$("button.fc-today-button").removeClass("fc-button fc-state-default fc-corner-left fc-corner-right").addClass("btn btn-inverse").html('<span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbspToday');

					$(".fc-prev-button, .fc-next-button, .fc-today-button").bind("click", function() {
						$(".fc-today").css({"background-color": "#fec78a", "color": "#ff5c2b", "font-weight": "bold"});
						$("th.fc-day-header").css({"background-color": "#ddd", "padding": "10px"});
					});
				}
			});
		});
	</script>

{% endblock %}

