{% extends "media/html/_framework.html" %}

{% block header %}
  <link href="/site_media/css/news.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
  <div id="animation">
    <div id="header">
      <img src="/site_media/images/news/icon_news.png" width="349" height="111">
    </div>
    <img src="/site_media/images/news/logo_news.jpg" width="973" height="221">
  </div>

  <div class="homeTEXT" id="newsBODY">
    <table width="855" height="820" border="0">
      <tbody>

        {% for news in news_list %}
        <tr {% if forloop.counter <= 10 %} class="current" {% else %} class="previous" {% endif %}>
          <td width="225" align="middle" valign="left">
            {% if news.image %} <img src="/site_data/news_img/{{news.image_link}}" width="190"> {% endif %}
            {% if news.video %} <iframe title="YouTube video player" class="youtube-player" type="text/html" width="160" src="{{news.video}}" frameborder="0" allowFullScreen></iframe> {% endif %}
          </td>
          <td width="500" align="left" valign="top" class="homeTEXT">
            <p class="teal1"><i>{{news.date|date:"b d Y"|title}}</i></p>
            <p>
              <br>
              {% autoescape off %}{{news.content}}{% endautoescape %}
            </p>
          </td>
          <td height="160" align="right" valign="bottom">
            {% if news.link %}
            <a href="{{news.link}}" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('read more2{{forloop.counter}}','','/site_media/images/news/read_more_hover.png',1)">
              <img src="/site_media/images/news/read_more.png" name="read more2{{forloop.counter}}" width="121" height="32" border="0" id="read more2{{forloop.counter}}">
            {% endif %}
            </a>
          </td>
        </tr>
        <tr {% if forloop.counter <= 10 %} class="current" {% else %} class="previous" {% endif %}>
          <td height="20" colspan="3"><div class="divisionLine"></div></td>
        </tr>
        {% endfor %}

        <tr class="switch">
          <td width="38" height="15" align="left" valign="middle" class="PubH1"><a onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('arrow','','/site_media/images/publications/arrow_hover.png',1)"><img src="/site_media/images/publications/arrow.png" name="arrow" width="28" height="28" border="0" id="arrow" /></a></td>
          <td height="15" align="left" valign="middle" class="PubH1">Previous news from the Das Lab.</strong></td>
        </tr>
        <tr class="switch">
          <td height="20" colspan="3"><div class="divisionLine"></div></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="DasFOOTER"><img src="/site_media/images/footer_other.jpg" width="855" height="39"></div>
{% endblock %}


{% block script %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#main").addClass("DASnews");
      $("#news").attr("src", "/site_media/images/nav_news_hover.png");

      $("tr.previous").hide();
      $("#DasFOOTER").css("top", 2500);
      $("#icons").css("top", parseInt($("#DasFOOTER").css("top")) + 55);
      $(".DASnews").css("height", parseInt($("#DasFOOTER").css("top")) + 150);

      $("#arrow").on("click", function () {
        $("tr.previous").show();
        $("tr.switch").hide();

        $("#DasFOOTER").css("top", 500 + 200 * {{news_list|length}});
        $("#icons").css("top", parseInt($("#DasFOOTER").css("top")) + 55);
        $(".DASnews").css("height", parseInt($("#DasFOOTER").css("top")) + 150);
      });
    });
  </script>
{% endblock %}

