{% extends "media/html/_framework.html" %}

{% block header %}
  <link href="/site_media/css/people.css" rel="stylesheet" type="text/css">
  <script type="text/javascript">
    $(document).ready(function() {
      $("#main").addClass("DASpeople");
      $("#people").attr("src", "/site_media/images/nav_people_hover.png");
    });
  </script>
{% endblock %}


{% block content %}
  <div id="animation">
    <div id="header"><img src="/site_media/images/people/icon_people.png" width="349" height="111"></div>
    <img src="/site_media/images/people/logo_people.jpg" width="973" height="221">
  </div>

  <div class="homeTEXT" id="researchBODY">
    <table width="591" border="0">
      <tbody>
        {% for ppl in current_member %}
        <tr>
          <td height="175" align="left" valign="middle">
            {% if ppl.image %} <img src="/site_data/ppl_img/{{ppl.image_link}}" width="119"> {% endif %}
          </td>
          <td height="175" align="left" valign="middle">
            <p class="peopleH2">{{ppl.first_name}} {{ppl.last_name}}</p>
            <p class="peopleTEXT">{{ppl.role}}
              <br>
              {{ppl.department}}
              <br>
              {% if ppl.joint_lab %}
              Joint: <a href="{{ppl.joint_link}}">{{ppl.joint_lab}} Lab</a>
              <br>
              {% endif %}
              {% if ppl.description %}
              {{ppl.description}}
              <br>
              {% endif %}
            </p>
          </td>
          <td height="175" align="right" valign="bottom">
            <a href="{{ppl.more_info}}" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage(&#39;more info24&#39;,&#39;&#39;,&#39;/site_media/images/people/more_info_hover.png&#39;,1)">
              <img src="/site_media/images/people/more_info.png" name="more info24" width="121" height="32" border="0" id="more info24">
            </a>
          </td>
        </tr>
        <tr>
          <td height="20" colspan="3" align="left" valign="middle"><div class="divisionLine"></div></td>
        </tr>
        {% endfor %}


        <tr>
          <td height="175" align="left" valign="middle"><img src="/site_data/ppl_img/RhijuD.jpg" width="119" height="157"></td>
          <td height="175" align="left" valign="middle">
            <p class="peopleH2">Rhiju Das</p>
            <p class="peopleTEXT">
              <strong>Principal Investigator</strong>
              <br>
              <a href="https://dl.dropboxusercontent.com/u/21569020/RhijuDas_CurriculumVitae.pdf">Curriculum Vitae</a>
              <br>
              <a href="http://eterna.stanford.edu/web/blog/">Eterna Blog</a>
            </p>
          </td>
          <td height="175" align="right" valign="bottom">
            <a href="http://daslab.stanford.edu/das_people.html#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage(&#39;more info210&#39;,&#39;&#39;,&#39;/site_media/images/people/more_info_hover.png&#39;,1)"><img src="/site_media/images/people/more_info.png" name="more info210" width="121" height="32" border="0" id="more info210"></a>
          </td>
        </tr>
        <tr>
          <td height="20" colspan="3" align="left" valign="middle"><div class="divisionLine"></div></td>
        </tr>

        <tr>
          <td align="left" valign="top">
            <br><br>
            <img src="/site_media/images/people/alumni.png" width="140" height="36">
          </td>
          <td colspan="2" align="left" valign="top">
            <p>&nbsp;</p>
            <p>
              {% for ppl in past_member %}
              <span class="peopleH2">{{ppl.first_name}} {{ppl.last_name}}</span>
              <br>
              {{ppl.role}}, 
              {% if ppl.start_year != ppl.finish_year %}
                {{ppl.start_year}}-{{ppl.finish_year}}
              {% else %}
                {{ppl.start_year}}
              {% endif %}
              <br><br>
              {% endfor %}
        	  </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="DasFOOTER"><img src="/site_media/images/footer_other.jpg" width="855" height="39"></div>
{% endblock %}


{% block script %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#DasFOOTER").css("top", 700 + {{past_member|length}} * 60 + {{current_member|length}} * 200);
      $("#icons").css("top", parseInt($("#DasFOOTER").css("top")) + 55);
      $(".DASpeople").css("height", parseInt($("#DasFOOTER").css("top")) + 150);
    });
  </script>
{% endblock %}

