{% extends "media/html/_external.html" %}

{% block content %}
  <div id="DasBANNER" class="fix">
    <div id="DasHEADER" class="fix"><img src="/site_media/images/public/icon_contact.png" width="349" height="111" alt="contact"></div>
  	<img src="/site_media/images/public/logo_contact.jpg" width="973" height="221" alt="contact logo">
  </div>

  <div class="TEXT BODY">
    <table width="855" height="" border="0">
      	<tbody>
	      	<tr>
		        <td width="220" rowspan="2" align="left" valign="top">
		        	<img src="/site_media/images/public/word_contact.png" width="184" height="62" alt="Connect With Us">
		        </td>
		        <td width="625" height="256" align="left" valign="top" class="TEXT">
		        	<span class="contactH1">Rhiju Das</span> is in <span class="yearTEXT" style="font-weight:500;">B421A</span> (office) which is embedded in our home lab
		        	<br/>
                    <span class="yearTEXT" style="font-weight:500;">B419</span> in the Beckman Center at Stanford University.
                    <br/><br/>
		          	<p>
		          		<span class="contactH2">Office</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="peopleH2">(650) 723-5976</span>
		          		<br/>
			            <span class="contactH2">Lab</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="peopleH2">(650) 723-7310</span>
			            <br/>
			            <span class="contactH2">Admin</span>&nbsp;&nbsp;&nbsp;<span class="peopleH2">(650) 498-5118</span>
			        </p>
			        <p><span class="contactH2">E-mail</span>&nbsp;&nbsp;&nbsp;&nbsp;rhiju <i>[at]</i> stanford.edu</p>
			        <p>
			        	<strong><span class="contactH1">Administrative assistant: </span></strong>
			        	<br/>
				        <span class="peopleTEXT">Ashley Bachman</span>, ashleynb <i>[at]</i> stanford.edu
				    </p>
				</td>
		    </tr>
			<tr>
	        	<td align="left" valign="top" class="TEXT">
	        		<a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=279+Campus+Dr+W,+Stanford,+CA+94305&sll=37.425704,-122.181918&sspn=0.006586,0.013937&ie=UTF8&hq=&hnear=279+Campus+Dr+W,+Stanford,+Santa+Clara,+California+94305&z=17" target="_blank" rel="noopener noreferrer external" id="map">
                        <div class="imgsp_map"></div>         
                    </a>
	        	</td>
		    </tr>
	    </tbody>
	</table>
  </div>
{% endblock %}
