{% extends "media/html/_external.html" %}

{% block content %}
  <div id="DasBANNER" class="fix">
    <div id="DasHEADER" class="fix"><img src="/site_media/images/public/icon_publications.png" width="349" height="111"></div>
    <img src="/site_media/images/public/logo_publications.jpg" width="973" height="221">
  </div>

  <div class="BODY">
    <table width="855" height="3107" border="0">
      <tbody>
        <tr>
          <td width="38" height="15" align="left" valign="middle" class="HEAD publicationsH1">
            <a href="http://www.ncbi.nlm.nih.gov/pubmed?cmd=Search&term=Das%20Rhiju" target="_blank" id="arrow">
              <div class="imgsp_arrow"></div>
            </a>
          </td>
          <td width="807" height="15" align="left" valign="middle" class="HEAD publicationsH1" id="search">
            <span >Search for papers from the Das Lab on <strong class="publicationsH2">PubMed</strong></span>
          </td>
        </tr>

        <tr>
          <td colspan="2" align="left" valign="top" class="HEAD publicationsH1 table-body">
            <p class="TEXT">&nbsp;</p>
            {% for pub in pub_list %}
              {% if pub.previous %}
                <br>
                <table>
                  <tbody>
                    <tr class="switch">
                      <td width="38" height="15" align="left" valign="middle" class="HEAD publicationsH1">
                        <a id="arrow2"><div class="imgsp_arrow"></div></a>
                      </td>
                      <td height="15" align="left" valign="middle" class="HEAD publicationsH2" id="expand"><strong>Previous work by R. Das</strong></td>
                    </tr>
                  </tbody>
                </table>
                <br>
              {% endif %}

              {% if pub.is_feature %}
                <table width="800" height="200" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td width="100" align="center" valign="top">
                        {% if pub.year_tag %}
                          <span class="yearH2" id="{{pub.year}}">{{pub.year}}</span>
                        {% endif %}
                      </td>
                      <td width="110" align="center" valign="middle" bgcolor="#CCDFE0" class="year-top">
                        <img src="/site_data/pub_img/{{pub.image_link}}" width="200">
                      </td>
                      <td width="256" align="left" valign="top" bgcolor="#CCDFE0" class="peopleTEXT TEXT year-top">
                        <br><br><br>
                        {{pub.authors}} ({{pub.year}})
                        <br>
                        <span class="HEAD contactH1">"{{pub.title}}"</span>
                        <br>
                        <i>{{pub.journal}}</i>
                        {% if pub.volume %} {{pub.volume}} {% endif %} 
                        {% if pub.issue %} ({{pub.issue}}) {% endif %} 
                        {% if pub.begin_page %}: {{pub.begin_page}} {% endif %} 
                        {% if pub.end_page %} - {{pub.end_page}} {% endif %}
                        <br>
                        <span class="yearTEXT"><strong>
                          {% if pub.pdf %} 
                            <a href="/site_data/pub_pdf/{{pub.pdf_link}}" target="_blank">
                              {% if pub.is_preprint %} Preprint {% else %} Paper {% endif %}
                            </a>
                          {% endif %}
                          {% if pub.link %} 
                            | <a href="{{pub.link}}" target="_blank">Link</a>
                          {% endif %}
                          {% if pub.extra_field %} 
                            | <a href="{{pub.extra_link}}" target="_blank">{{pub.extra_field}}</a>
                          {% endif %}
                          {% if pub.extra_field_2 %} 
                            | <a href="{{pub.extra_link_2}}" target="_blank">{{pub.extra_field_2}}</a>
                          {% endif %}
                          {% if pub.extra_field_3 %} 
                            | <a href="/site_data/pub_data/{{pub.file_link}}" target="_blank">{{pub.extra_field_3}}</a>
                          {% endif %}
                        </strong></span>
                      </td>
                      <td width="15" align="right" valign="middle" bgcolor="#CCDFE0" class="year-top"></td>
                    </tr>
                  </tbody>
                </table>
              {% else %}
                <table width="800" border="0" cellpadding="0" cellspacing="0" {% if pub.year <= 2009 %} class="previous" {% else %} class="current" {% endif %}>
                  <tbody>
                    <tr>
                      <td width="80" align="center" valign="top">
                        {% if pub.year_tag %}
                          <span class="yearH2">{{pub.year}}</span>
                        {% endif %}
                      </td>
                      <td width="386" align="center" valign="top" class="year-top">
                        <p class="TEXT">
                          {{pub.authors}} ({{pub.year}}) "<u>{{pub.title}}</u>" <i>{{pub.journal}}</i>
                          {% if pub.volume %} {{pub.volume}} {% endif %} 
                          {% if pub.issue %} ({{pub.issue}}) {% endif %} 
                          {% if pub.begin_page %}: {{pub.begin_page}} {% endif %} 
                          {% if pub.end_page %} - {{pub.end_page}} {% endif %}
                          <span class="yearTEXT">
                            {% if pub.pdf %} 
                              | <a href="/site_data/pub_pdf/{{pub.pdf_link}}" target="_blank">Paper</a>
                            {% endif %}
                            {% if pub.link %} 
                              | <a href="{{pub.link}}" target="_blank">
                                {% if pub.is_preprint %} Preprint {% else %} Link {% endif %}
                              </a>
                            {% endif %}
                            {% if pub.extra_field %} 
                              | <a href="{{pub.extra_link}}" target="_blank">{{pub.extra_field}}</a>
                            {% endif %}
                            {% if pub.extra_field_2 %} 
                              | <a href="{{pub.extra_link_2}}" target="_blank">{{pub.extra_field_2}}</a>
                            {% endif %}
                            {% if pub.extra_field_3 %} 
                              | <a href="/site_data/pub_data/{{pub.file_link}}" target="_blank">{{pub.extra_field_3}}</a>
                            {% endif %}
                          </span>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              {% endif %}
              <p {% if pub.year <= 2009 %} class="previous" {% endif %} style="margin:0px 0px 15px 0px;"></p>
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
