{% extends "media/html/_external.html" %}

{% block content %}
  <div id="DasBANNER" class="fix">
    <div id="DasHEADER" class="fix"><img src="/site_media/images/public/icon_resources.png" width="349" height="111" alt="resources"></div>
    <img src="/site_media/images/public/logo_resources.jpg" width="973" height="221" alt="logo resources">
  </div>

  <div class="TEXT BODY">
    <table width="855" height="131" border="0">
      <tbody>
        <tr>
          <td width="184" height="110" align="left" valign="top">
            <br/>
            <div class="imgsp_resources_1"></div>
          </td>
          <td height="110" align="left" valign="middle" class="TEXT">
            <b>For RNA biologists</b>: Workflows for modeling RNA structure from sequence, including links to all relevant packages and documentation, are available on <a href="https://ribokit.stanford.edu/" target="_blank" rel="noopener noreferrer external">RiboKit</a>.
            <br>
          </td>
          <td height="110" align="center" valign="middle">
            <a href="https://ribokit.stanford.edu/" target="_blank" rel="noopener noreferrer external">
             <img src="/site_media/images/public/img_resources_ribokit.png" width="207">
            </a>
          </td>
        </tr>
        <tr>
          <td height="20" align="left" valign="top">&nbsp;</td>
          <td height="20" colspan="2" align="left" valign="middle" class="TEXT"><div class="divisionLine"></div></td>
        </tr>

        <tr>
          <td height="110" align="left" valign="top">&nbsp;</td>
          <td height="110" align="left" valign="middle" class="TEXT homeTEXT">
            <b>For RNA chemical mappers</b>: Browse curated, quantitative data sets on 100,000 RNAs at the <a href="https://rmdb.stanford.edu/" target="_blank" rel="noopener noreferrer external">RNA Mapping Database</a>.
          </td>
          <td height="110" align="middle" valign="center" style="text-align:right;">
            <a href="https://rmdb.stanford.edu/" target="_blank" rel="noopener noreferrer external">
              <img src="/site_media/images/public/img_resources_rmdb.png" width="190">
            </a>
          </td>
        </tr>
        <tr>
          <td height="20" align="left" valign="top">&nbsp;</td>
          <td height="20" colspan="2" align="left" valign="middle" class="TEXT"><div class="divisionLine"></div></td>
        </tr>

        <tr>
          <td height="110" align="left" valign="top">&nbsp;</td>
          <td height="110" align="left" valign="middle" class="TEXT homeTEXT">
            <b>For citizen scientists:</b> Join us! Create RNAs for nanomedicine at <a href="https://www.eternagame.org/web/" target="_blank" rel="noopener noreferrer external">Eterna</a>.
          </td>
          <td height="110" align="middle" valign="center">
            <a href="https://www.eternagame.org/web/" target="_blank" rel="noopener noreferrer external">
             <img src="/site_media/images/public/img_resources_citizen.png" width="207">
            </a>
          </td>
        </tr>
        <tr>
          <td height="20" align="left" valign="top">&nbsp;</td>
          <td height="20" colspan="2" align="left" valign="middle" class="TEXT"><div class="divisionLine"></div></td>
        </tr>

      </tbody>
    </table>
  </div>
{% endblock %}
