{% extends "media/html/_external.html" %}

{% block content %}
  <div id="DasBANNER" class="fix">
    <div id="DasHEADER" class="fix"><img src="/site_media/images/public/icon_people.png" width="349" height="111"></div>
    <img src="/site_media/images/public/logo_people.jpg" width="973" height="221">
  </div>

  <div class="homeTEXT BODY" style="padding-left:100px;">
    <table width="691" border="0">
      <tbody>
        {% for ppl in current_member %}
        <tr class="current_member">
          <td height="175">
            {% if ppl.image %}
              <img src="/site_data/ppl_img/{{ppl.image_link}}" width="119"> 
            {% else %}
              <img src="/site_media/images/icon_default_avatar.png" width="119"> 
            {% endif %}
          </td>
          <td height="175">
            <p class="HEAD peopleH2">{{ppl.first_name}} {{ppl.last_name}}</p>
            <p class="peopleTEXT TEXT">
              <span style="font-weight:500;">{{ppl.role}}</span>
              <br>
              {{ppl.department}}
              <br>
              {% if ppl.joint_lab %}
              Joint: <a href="{{ppl.joint_link}}" target="_blank" rel="noopener noreferrer external"><i>{{ppl.joint_lab}} Lab</i></a>
              <br>
              {% endif %}
              {% if ppl.description %}
              {{ppl.description}}
              <br>
              {% endif %}
            </p>
          </td>
          <td height="175" align="right">
            <a href="{{ppl.more_info}}" target="_blank" rel="noopener noreferrer external">
              <div class="imgsp_more_info"></div>
            </a>
          </td>
        </tr>
        <tr>
          <td height="20" colspan="3"><div class="divisionLine"></div></td>
        </tr>
        {% endfor %}

        <tr class="current_member">
          <td height="175"><img src="/site_data/ppl_img/RhijuD.jpg" width="119" height="157"></td>
          <td height="175">
            <p class="HEAD peopleH2">Rhiju Das</p>
            <p class="peopleTEXT TEXT">
              <strong>Principal Investigator</strong>
              <br>
              <a href="https://dl.dropboxusercontent.com/u/21569020/RhijuDas_CurriculumVitae.pdf" target="_blank" rel="noopener noreferrer external">Curriculum Vitae</a>
              <br>
              <a href="http://eterna.stanford.edu/web/blog/" target="_blank" rel="noopener noreferrer external">Eterna Blog</a>
            </p>
          </td>
          <td height="175" align="right">
            <a href="https://cap.stanford.edu/profiles/auth/frdActionServlet?choiceId=facProfile&fid=10421" target="_blank" rel="noopener noreferrer external">
              <div class="imgsp_more_info"></div>
            </a>
          </td>
        </tr>
        <tr>
          <td height="20" colspan="3"><div class="divisionLine"></div></td>
        </tr>

        <tr>
          <td align="left" valign="top">
            <br><br>
            <img src="/site_media/images/public/word_people.png" width="140" height="36" alt="alumni">
          </td>
          <td colspan="2" align="left" valign="top">
            <p>&nbsp;</p>
            <p style="line-height:18px;">
              {% for ppl in past_member %}
              <span class="HEAD peopleH2 past_member">{{ppl.first_name}} {{ppl.last_name}}</span>
              <br>
              <span class="peopleTEXT TEXT">
              <span style="font-weight:500;">{{ppl.role}}</span>, 
              {% if ppl.start_year != ppl.finish_year %}
                {{ppl.start_year}}-{{ppl.finish_year}}
              {% else %}
                {{ppl.start_year}}
              {% endif %}
              </span>
              <br><br>
              {% endfor %}
        	  </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

