{% extends "media/html/_external.html" %}

{% block content %}
  <div id="DasBANNER" class="fix">
    <div id="DasHEADER" class="fix"><img src="/site_media/images/public/icon_news.png" width="349" height="111"></div>
    <img src="/site_media/images/public/logo_news.jpg" width="973" height="221">
  </div>

  <div class="TEXT BODY">
    <table width="855" height="820" border="0">
      <tbody>

        {% for news in news_list %}
        <tr {% if forloop.counter <= 10 %} class="current" {% else %} class="previous" {% endif %}>
          <td width="225" align="middle" valign="left">
            {% if news.image %} <img src="/site_data/news_img/{{news.image_link}}" width="190"> {% endif %}
            {% if news.video %}
            <div class="youtube_video">
              <img src="https://img.youtube.com/vi/{{news.video}}/mqdefault.jpg" width="190">
              <a href="https://www.youtube.com/watch?v={{news.video}}" target="_blank" rel="noopener noreferrer external"></a>
            </div>
            {% endif %}
          </td>
          <td width="500" align="left" valign="top" class="TEXT">
            <p class="yearTEXT"><i>{{news.date|date:"F d, Y"|title}}</i></p>
            <p class="TEXT">
              {% autoescape off %}{{news.content}}{% endautoescape %}
            </p>
          </td>
          <td height="160" align="right" valign="bottom">
            {% if news.link %}
            <a href="{{news.link}}" target="_blank" rel="noopener noreferrer external" class="btn_readmore">
              <div class="imgsp_more_read"></div>
            {% endif %}
            </a>
          </td>
        </tr>
        <tr {% if forloop.counter == news_list|length %} class="last previous" {% elif forloop.counter == 10 %} class="middle current" {% elif forloop.counter < 10 %} class="current" {% else %} class="previous" {% endif %}>
          <td height="20" colspan="3"><div class="divisionLine"></div></td>
        </tr>
        {% if forloop.counter == 10 %}
          <tr class="switch">
            <td width="38" height="15" align="left" valign="middle" class="publicationsH1">
              <a id="arrow"><div class="imgsp_arrow"></div></a>
            </td>
            <td height="15" align="left" valign="middle" class="HEAD publicationsH1" id="previous">Previous news from the Das Lab.</strong></td>
          </tr>
          <tr class="switch">
            <td height="20" colspan="3"><div class="divisionLine"></div></td>
          </tr>
        {% endif %}

        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock %}
