{% extends "media/html/_external.html" %}

{% block content %}
  <div id="DasBANNER" class="fix">
    <div id="researchBTN" class="fix">
      <a id="btn_research" href="/research/">
        <div class="imgsp_research"></div>
      </a>
    </div>
    <div id="home_center" class="carousel slide carousel-fade" data-ride="carousel" style="width:1022px; height:348px;">
      <div class="carousel-inner">
        <div class="item active imgsp_home_center1"></div>
        <div class="item imgsp_home_center2"></div>
      </div>
    </div>    
  </div>

  <div class="researchH2 fix" id="divisionBar">
    <div class="footer_left" style="float:left;"></div>
    <a href="/group/">
      <div class="footer_plain" style="float:right;" id="img_group2"></div>
    </a>
  </div>
  <div id="whatWeDo" class="fix"><div class="imgsp_home"></div></div>
  <div id="weStrive" class="fix"><div class="imgsp_home2"></div></div>
  <div class="TEXT homeTEXT fix" id="homeTEXT">
    Our lab seeks an agile and predictive understanding of how RNAs code for information processing and replication in living systems. We are creating new computational and chemical tools to enable the precise modeling and design of these RNAs.
  </div>

{% endblock %}
