{% extends "media/html/_framework.html" %}

{% block header %}
  <link href="/site_media/css/publications.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
  <div id="animation">
    <div id="header"><img src="/site_media/images/publications/icon_publications.png" width="349" height="111"></div>
    <img src="/site_media/images/publications/logo_publications.jpg" width="973" height="221">
  </div>

  <div class="homeTEXT" id="pubBODY">
    <table width="855" height="3107" border="0">
      <tbody>
        <tr>
          <td width="38" height="15" align="left" valign="middle" class="PubH1">
            <a href="http://www.ncbi.nlm.nih.gov/pubmed?cmd=Search&term=Das%20Rhiju" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('arrow','','/site_media/images/publications/arrow_hover.png',1)">
              <img src="/site_media/images/publications/arrow.png" name="arrow" width="28" height="28" border="0" id="arrow">
            </a>
          </td>
          <td width="807" height="15" align="left" valign="middle" class="PubH1">
            Search for papers from the Das Lab on <strong class="pubH2">PubMed</strong>
          </td>
        </tr>

        <tr>
          <td height="2500" colspan="2" align="left" valign="top" class="PubH1">
            <p class="homeTEXT">&nbsp;</p>
            {% for pub in pub_list %}
              {% if pub.previous %}
                <br>
                <span class="pubH2">Previous work by R. Das </span>
                <br><br><br>
              {% endif %}

              {% if pub.feature %}
                <table width="800" height="200" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td width="100" align="center" valign="top">
                        {% if pub.year_tag %}
                          <span class="teal2">{{pub.year}}</span>
                        {% endif %}
                      </td>
                      <td width="110" align="center" valign="middle" bgcolor="#CCDFE0">
                        <img src="/site_data/pub_img/{{pub.image_link}}" width="200">
                      </td>
                      <td width="256" align="left" valign="top" bgcolor="#CCDFE0" class="peopleTEXT">
                        <br><br><br>
                        {{pub.authors}} ({{pub.year}})
                        <br>
                        <span class="contactH1">"{{pub.title}}"</span>
                        <br>
                        <i>{{pub.journal}}</i>
                        {% if pub.volume %} {{pub.volume}} {% endif %} 
                        {% if pub.issue %} ({{pub.issue}}) {% endif %} 
                        {% if pub.begin_page %}: {{pub.begin_page}} {% endif %} 
                        {% if pub.end_page %} - {{pub.end_page}} {% endif %}
                        <br>
                        <span class="teal1"><strong>
                          {% if pub.pdf %} 
                            <a href="/site_data/pub_pdf/{{pub.pdf_link}}" target="_blank">
                              {% if pub.preprint %} Preprint {% else %} Paper {% endif %}
                            </a>
                          {% endif %}
                          {% if pub.link %} 
                            | <a href="{{pub.link}}" target="_blank">Link</a>
                          {% endif %}
                          {% if pub.extra_field %} 
                            | <a href="{{pub.extra_link}}" target="_blank">{{pub.extra_field}}</a>
                          {% endif %}
                          {% if pub.extra_field_2 %} 
                            | <a href="{{pub.extra_link_2}}" target="_blank">{{pub.extra_field_2}}</a>
                          {% endif %}
                          {% if pub.extra_field_3 %} 
                            | <a href="/site_data/pub_data/{{pub.file_link}}" target="_blank">{{pub.extra_field_3}}</a>
                          {% endif %}
                        </strong></span>
                      </td>
                      <td width="15" align="right" valign="middle" bgcolor="#CCDFE0"></td>
                    </tr>
                  </tbody>
                </table>
              {% else %}
                <table width="800" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td width="80" align="center" valign="top">
                        {% if pub.year_tag %}
                          <span class="teal2">{{pub.year}}</span>
                        {% endif %}
                      </td>
                      <td width="386" align="center" valign="top" >
                        <p class="homeTEXT">
                          {{pub.authors}} ({{pub.year}}) "<u>{{pub.title}}</u>" <i>{{pub.journal}}</i>
                          {% if pub.volume %} {{pub.volume}} {% endif %} 
                          {% if pub.issue %} ({{pub.issue}}) {% endif %} 
                          {% if pub.begin_page %}: {{pub.begin_page}} {% endif %} 
                          {% if pub.end_page %} - {{pub.end_page}} {% endif %}
                          <span class="teal1">
                            {% if pub.pdf %} 
                              | <a href="/site_data/pub_pdf/{{pub.pdf_link}}" target="_blank">Paper</a>
                            {% endif %}
                            {% if pub.link %} 
                              | <a href="{{pub.link}}" target="_blank">
                                {% if pub.preprint %} Preprint {% else %} Link {% endif %}
                              </a>
                            {% endif %}
                            {% if pub.extra_field %} 
                              | <a href="{{pub.extra_link}}" target="_blank">{{pub.extra_field}}</a>
                            {% endif %}
                            {% if pub.extra_field_2 %} 
                              | <a href="{{pub.extra_link_2}}" target="_blank">{{pub.extra_field_2}}</a>
                            {% endif %}
                            {% if pub.extra_field_3 %} 
                              | <a href="/site_data/pub_data/{{pub.file_link}}" target="_blank">{{pub.extra_field_3}}</a>
                            {% endif %}
                          </span>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              {% endif %}
              <br>
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="DasFOOTER"><img src="/site_media/images/footer_other.jpg" width="855" height="39"></div>
{% endblock %}


{% block script %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#main").addClass("DASpub");
      $("#publications").attr("src", "/site_media/images/nav_publications_hover.png");

      $("#DasFOOTER").css("top", parseInt($("#DasFOOTER").css("top")) + 100);
      $("#icons").css("top", parseInt($("#DasFOOTER").css("top")) + 55);
      $(".DASpub").css("height", parseInt($("#DasFOOTER").css("top")) + 150);
    });
  </script>
{% endblock %}
