{% extends "media/html/_framework.html" %}

{% block header %}
  <link href="/site_media/css/research.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
  <div id="animation">
    <div id="header">
      <img src="/site_media/images/research/icon_research.png" width="349" height="111">
    </div>
    <img src="/site_media/images/research/logo_research.jpg" width="973" height="221">
  </div>
  <div class="header2" id="divisionBar">
    <strong>Our lab strives to </strong>model and design the RNA sequences that define and regulate living systems.
  </div>

  <div class="homeTEXT" id="researchBODY">
    <table width="855" height="449" border="0">
      <tbody>
        <tr>
          <td width="170" height="150"><img src="/site_media/images/research/side_1.png" width="107" height="68"></td>
          <td width="410" height="150" class="homeTEXT">
            We develop algorithms to predict the structures and energetics of RNAs and RNA/protein interfaces with high accuracy. We test these ideas through community-wide blind trials; by enhancing NMR, crystallographic, and cryoelectron microscopy methods; and by designing new nanostructures.
          </td>
          <td width="261" height="200" align="center" valign="middle">
            <a href="http://www.pnas.org/content/108/51/20573.full" target="_blank">
              <img src="/site_media/images/research/side_1_img.png" width="259" height="135">
            </a>
          </td>
        </tr>
        <tr>
          <td height="20" colspan="3"><div class="divisionLine"></div></td>
        </tr>
        <tr>
          <td height="200"><img src="/site_media/images/research/side_2.png" width="138" height="121"></td>
          <td height="200" class="homeTEXT">
            Complementary to our computational research, we are developing information-rich biochemical methods to model the myriad structures of non-coding RNAs that remain unknown. Current efforts focus on probing the extent of RNA structure and conformational change inside cells and viruses, in close collaboration with expert biologists at Stanford.
          </td>
          <td height="200">
            <a href="http://www.nature.com/nchem/journal/v3/n12/full/nchem.1176.html" target="_blank">
              <img src="/site_media/images/research/side_2_img.png" width="274" height="153">
            </a>
          </td>
        </tr>
        <tr>
          <td height="20" colspan="3"><div class="divisionLine"></div></td>
        </tr>
        <tr>
          <td height="200">
            <img src="/site_media/images/research/side_3.png" width="138" height="84"></td>
          <!--<td height="200" align="center" valign="middle"><a href="http://eterna.cmu.edu/web/" target="_blank"><img src="images/researchH3_PIC.png" width="231" height="142" /></a></td>-->
          <td height="200" class="homeTEXT">
            We aim to design new RNA molecules for basic science, diagnostics, and therapeutics. Our videogame project EteRNA seeks missing rules and novel molecules for medicine by giving citizen scientists access to high-throughput wet-lab experiments.
          </td>
          <td height="200">
            <a href="http://eterna.cmu.edu/" target="_blank">
              <img src="/site_media/images/research/side_3_img.png" width="310.5" height="80.25">
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <a href="http://eterna.cmu.edu/web/" target="_blank">
      <embed src="https://s3.amazonaws.com/eterna/Eterna.swf" width="100%" height="180">
    </a>
  </div>

  <div id="DasFOOTER"><img src="/site_media/images/footer_other.jpg" width="855" height="39"></div>
{% endblock %}


{% block script %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#main").addClass("DASresearch");
      $("#research").attr("src", "/site_media/images/nav_research_hover.png");
    });
  </script>
{% endblock %}


